doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar-on-top.jade

    div(style='background:url(#{baseUrlCdn}/img/opl_img3.jpg) no-repeat scroll 0 100%')
      .container
        .row.starter-template
          .col-sm-10.col-md-4.col-md-offset-4

            .account-wall
              h2.text-center.login-title Sign-in to t6
              -if ( user && user.mail_hash )
                img.profile-img(src='//www.gravatar.com/avatar/#{user.mail_hash}?s=120&d=mm&r=g', alt='')
              -else
                img.profile-img(src='#{baseUrlCdn}/img/defaultuser.png', alt='')
              -end
              
              form.form-signin(method="post", action="/account/login")
                if (message && message.type && message.value)
                  div.alert(class='alert-#{message.type}', role='alert') #{message.value}

                label.sr-only(for='email') Email
                input#email.form-control(name='email', type='email', placeholder='Email Address', required='', autofocus='')

                label.sr-only(for='password') Password
                input#password.form-control(name='password', type='password', placeholder='Password', required='')

                button.btn.btn-lg.btn-primary.btn-block(type='submit')
                  i.fa.fa-sign-in &nbsp;Sign-in

                span.clearfix
              a.text-center.need-help(href='/account/forgot-password') Forgot Password?
              a.text-center.new-account(href='/account/register') Sign-up

      .container &nbsp;
      .container &nbsp;

    include ../includes/foot.jade