doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar-on-top.jade

    div(style='background:url(#{baseUrlCdn}/img/opl_img.jpg) no-repeat scroll 0 100%')
      .container
        .row.starter-template
          .col-sm-6.col-md-4.col-md-offset-4
      
            .account-wall
              h2.text-center.login-title Reset your password
              -if ( user && user.mail_hash )
                img.profile-img(src='//www.gravatar.com/avatar/#{user.mail_hash}?s=120&d=mm&r=g', alt='')
              -else
                img.profile-img(src='#{baseUrlCdn}/img/defaultuser.png', alt='')
              -end
              
              form.form-signin(method="post", action="/account/reset-password/#{token}")
                if (message && message.type && message.value)
                  div.alert(class='alert-#{message.type}', role='alert') #{message.value}
      
                label.sr-only(for='password') Password
                input#password.form-control(type='password', name='password', placeholder='Password', value='', autofocus='')
      
                label.sr-only(for='password2') Password Verification
                input#password2.form-control(type='password', name='password2', placeholder='Password Verification', value='', autofocus='')
                div.progress(style="height: 5px;")
                  div.progress-bar#passwordStrength1(role="progressbar", aria-valuenow="#{objects_length}", aria-valuemin="0", aria-valuemax="5", style="width: 0%; height: 5px;") &nbsp;
                  div.progress-bar#passwordStrength2(role="progressbar", aria-valuenow="#{objects_length}", aria-valuemin="0", aria-valuemax="5", style="width: 0%; height: 5px;") &nbsp;
      
                button.btn.btn-lg.btn-primary.btn-block#submitButton(type='submit')
                  i.fa.fa-unlock &nbsp; Reset my password
              
                span.clearfix
              a.text-center.new-account(href='/account/login') Sign-in
      
      .container &nbsp;
      .container &nbsp;

    include ../includes/foot.jade
    script.
      $(function() {
        $('#password').on('keyup', function() {
          var s = parseFloat(testStrength( $('#password').val() ));
          console.log( s );
          if ( s > 1 && s <= 2 ) {
            console.log( 'Poor' );
            $('#passwordStrength1').removeClass('progress-bar-success');
            $('#passwordStrength1').removeClass('progress-bar-warning');
            $('#passwordStrength1').removeClass('progress-bar-danger');
            $('#passwordStrength1').addClass('progress-bar-success');
            $('#passwordStrength1').css('width', '50%');
            $('#passwordStrength2').removeClass('progress-bar-success');
            $('#passwordStrength2').removeClass('progress-bar-warning');
            $('#passwordStrength2').removeClass('progress-bar-danger');
            $('#passwordStrength2').addClass('progress-bar-warning');
            $('#passwordStrength2').css('width', '50%');
          } else if ( s > 2 && s <= 2.5 ) {
            console.log( 'Medium' );
            $('#passwordStrength1').removeClass('progress-bar-success');
            $('#passwordStrength1').removeClass('progress-bar-warning');
            $('#passwordStrength1').removeClass('progress-bar-danger');
            $('#passwordStrength1').addClass('progress-bar-success');
            $('#passwordStrength1').css('width', '50%');
            $('#passwordStrength2').removeClass('progress-bar-success');
            $('#passwordStrength2').removeClass('progress-bar-warning');
            $('#passwordStrength2').removeClass('progress-bar-danger');
            $('#passwordStrength2').addClass('progress-bar-success');
            $('#passwordStrength2').css('width', '50%');
          } else if ( s > 2.5 && s < 3 ) {
            console.log( 'Medium' );
            $('#passwordStrength1').removeClass('progress-bar-success');
            $('#passwordStrength1').removeClass('progress-bar-warning');
            $('#passwordStrength1').removeClass('progress-bar-danger');
            $('#passwordStrength1').addClass('progress-bar-success');
            $('#passwordStrength1').css('width', '25%');
            $('#passwordStrength2').removeClass('progress-bar-success');
            $('#passwordStrength2').removeClass('progress-bar-warning');
            $('#passwordStrength2').removeClass('progress-bar-danger');
            $('#passwordStrength2').addClass('progress-bar-success');
            $('#passwordStrength2').css('width', '75%');
          } else if ( s >= 3 ) {
            console.log( 'Good' );
            $('#passwordStrength1').css('width', '0%');
            $('#passwordStrength2').removeClass('progress-bar-success');
            $('#passwordStrength2').removeClass('progress-bar-warning');
            $('#passwordStrength2').removeClass('progress-bar-danger');
            $('#passwordStrength2').addClass('progress-bar-success');
            $('#passwordStrength2').css('width', '100%');
          } else {
            console.log( 'Bad' );
            $('#passwordStrength1').removeClass('progress-bar-success');
            $('#passwordStrength1').removeClass('progress-bar-warning');
            $('#passwordStrength1').removeClass('progress-bar-danger');
            $('#passwordStrength1').addClass('progress-bar-danger');
            $('#passwordStrength1').css('width', '100%');
            $('#passwordStrength2').css('width', '0%');
          }
        });
      });