a.clearfix.list-group-item(name='#{dashboards[dashboard].id}', href='/dashboards/#{dashboards[dashboard].id}')
  div.col-sm-6.fa.fa-area-chart  #{dashboards[dashboard].name}
  div.col-sm-2 #{dashboards[dashboard].snippets.length}
    span.xs-visible-inline  Snippet(s) linked
  div.col-sm-2
    img.img.img-responsive(src='/img/layout_#{dashboards[dashboard].layout}.png', alt='#{dashboards[dashboard].layout}', width='30')
  div.col-sm-12
    div.fa.fa-chevron-right.pull-right 
  div.col-sm-12 #{dashboards[dashboard].description}
  div.col-sm-12
  div.col-sm-2.ellipsis.label.label-default #{dashboards[dashboard].id}