a.clearfix.list-group-item(name='#{dashboards[dashboard].id}', href='/dashboards/#{dashboards[dashboard].id}')
  div.col-sm-6.fa.fa-area-chart  #{dashboards[dashboard].name}
  div.col-sm-2 #{dashboards[dashboard].snippets.length}
    span.xs-visible-inline  Snippets
  div.col-sm-2
    img.img.img-responsive(src='/img/layout_#{dashboards[dashboard].layout}.jpg', alt='#{dashboards[dashboard].layout}', width='50')
  div.col-sm-2.ellipse.label.label-default #{dashboards[dashboard].id}
  div.col-sm-12 #{dashboards[dashboard].description}