a.col-xs-12.col-sm-6.col-lg-4(href='#{featurette.link}', role='button', title='#{featurette.title}')
  .box
    .icon
      .image
        i(class="#{featurette.class}")
      .info
        h3.title #{featurette.title}
          small  #{featurette.subtitle}
        p
          | #{featurette.description}
        .more
          .btn.btn-primary
            | View details 
            i.fa.fa-angle-double-right
    .space