.clearfix.list-group-item(name='#{flows[flow].id}')
  h4.list-group-item-heading
    a(href='#')
      span.glyphicon.glyphicon-random
      | &nbsp;#{flows[flow].name}&nbsp;

  div.col-sm-8
    span.label.label-warning(data-toggle='tooltip' data-placement='top' title='Flow ID') #{flows[flow].id}
    | &nbsp;
          
    - if (flows[flow].unit)
      span.label.label-primary(data-toggle='tooltip' data-placement='top' title='Flow Unit') #{flows[flow].unit}
      | &nbsp;
    - if (flows[flow].permission)
      span.label.label-danger(data-toggle='tooltip' data-placement='top' title='Flow Permissions') #{flows[flow].permission}
      | &nbsp;

    - if (flows[flow].objects.length)
      div Objects:
        div
        - for(object in flows[flow].objects) {
          span.label.label-default(data-toggle='tooltip' data-placement='top' title='Flow Objects')
            a.white(href="/objects/#{flows[flow].objects[object]}") #{flows[flow].objects[object]}
          | &nbsp;
        - }
    
  div.col-sm-2
    small #{flows[flow].description} 
      a(href="#")
        button.btn.btn-primary.btn-sm.pull-right
          span.glyphicon.glyphicon-pencil  Edit
      | &nbsp;
 
  div.col-sm-2
      a(href="/flows/#{flows[flow].id}/graph")
        button.btn.btn-primary.btn-sm
          span.glyphicon.glyphicon-signal  Graph
      | &nbsp;