.list-group-item
  h4.list-group-item-heading
    span.glyphicon.glyphicon-random
    | &nbsp;#{flows[flow].name} 
    - if (flows[flow].id)
      small
        span.label.label-warning(data-toggle='tooltip' data-placement='top' title='Flow ID') #{flows[flow].id}
    p 
      small #{flows[flow].description} 
        button.btn.btn-primary.btn-sm.pull-right
          span.glyphicon.glyphicon-pencil  Edit
    small
      - if (flows[flow].unit)
        span.label.label-primary(data-toggle='tooltip' data-placement='top' title='Flow Unit') #{flows[flow].unit}
        | &nbsp;
      - if (flows[flow].permission)
        span.label.label-danger(data-toggle='tooltip' data-placement='top' title='Flow Permissions') #{flows[flow].permission}
        | &nbsp;
      - if (flows[flow].objects.length)
        p
        div Objects:
          p
            - for(object in flows[flow].objects) {
              span.label.label-default(data-toggle='tooltip' data-placement='top' title='Flow Objects')
                a.white(href="/objects/#{flows[flow].objects[object]}") #{flows[flow].objects[object]}
              | &nbsp;
            - }