.form-group
  label.control-label(for="Title") Graph Title
  span.input-group
    span.input-group-addon
      span.fa.fa-pencil-square-o
    input.form-control(type='text', name="title", placeholder="Title", id="Title", value="#{graph_title}")

.form-group
  label.control-label(for="Color") Color
  #colorpicker.input-group.colorpicker-component
    span.input-group-addon
      i
    input.form-control(type='text', name='color', value='#{graph_color}')
      
.form-group
  label(for="Fill") Fill
  .input-group
    span.input-group-addon
      input(type='checkbox', name="fill", id="Fill", value="true", checked=(graph_fill=='true' ? "checked" : undefined))
    label.form-control(for="Fill") Fill Graph with color
   
.form-group
  label(for="weekendAreas") Show Weekend Areas
  .input-group
    span.input-group-addon
      input(type='checkbox', name="weekendAreas", id="weekendAreas", value="true", checked=(graph_weekendAreas=='true' ? "checked" : undefined))
    label.form-control(for="weekendAreas") Show Weekend Areas
     
//- 
  .form-group
    label(for="Autorefresh") Auto Refresh
    .input-group
      span.input-group-addon
        input(type='checkbox', name="autorefresh", id="Autorefresh", value="true", checked=(graph_autorefresh=='true' ? "checked" : undefined))
      label.form-control(for="Autorefresh") Refresh chart automatically

  .form-group
    label.control-label(for="Ttl") Ttl
    span.input-group
      span.input-group-addon
        span.glyphicon.glyphicon-time
      input.form-control(type='text', name="ttl", placeholder="Ttl", id="Ttl", value="#{graph_ttl}")
      span.input-group-addon
        i secondes

.form-group
  label.control-label(for="startdate") Start date
  span.input-group.date.datepicker.start
    span.input-group-addon
      i.fa.fa-calendar
    input.form-control(type='text', id="startdate", value="#{graph_startdate}")
input.hide(type='text', name="startdate", id="startdate2", value="#{graph_startdate2}")

.form-group
  label.control-label(for="enddate") End date
  span.input-group.date.datepicker.end
    span.input-group-addon
      i.fa.fa-calendar
    input.form-control(type='text', id="enddate", value="#{graph_enddate}")
input.hide(type='text', name="enddate", id="enddate2", value="#{graph_enddate2}")

.form-group
  label.control-label(for="max") Max Flow points
  span.input-group.spinner
    span.input-group-addon
      span.fa.fa-arrows-alt
    input.form-control(type='text', name="max", id="max", value="#{graph_max}")
    .input-group-btn-vertical
      button.btn.btn-default(type='button')
        i.fa.fa-caret-up
      button.btn.btn-default(type='button')
        i.fa.fa-caret-down

.form-group
  label.control-label(for="chart_type") Chart Type:
  select.form-control(name="chart_type", id="chart_type")
    option(value="bars", selected=(graph_chart_type=='bars' ? "selected" : undefined)) Bars
    option(value="lines", selected=(graph_chart_type=='lines' ? "selected" : undefined)) Lines
    option(value="histogram", selected=(graph_chart_type=='histogram' ? "selected" : undefined)) Histogram
    option(value="pie", selected=(graph_chart_type=='pie' ? "selected" : undefined)) Pie
    option(value="rectangularpie", selected=(graph_chart_type=='rectangularpie' ? "selected" : undefined)) Rectangular Pie
    option(value="donut", selected=(graph_chart_type=='donut' ? "selected" : undefined)) Donut

.form-group
  label.control-label(for="layout") Layout:
  select.form-control(name="layout", id="layout")
    option(value="12", selected=(graph_layout=='12' ? "selected" : undefined)) Full width
    option(value="9", selected=(graph_layout=='9' ? "selected" : undefined)) 3/4 width
    option(value="8", selected=(graph_layout=='8' ? "selected" : undefined)) 2/3 width (default)
    option(value="6", selected=(graph_layout=='6' ? "selected" : undefined)) 1/2 width
    option(value="3", selected=(graph_layout=='3' ? "selected" : undefined)) 1/4 width
            
p &nbsp;
 
  script(type='text/javascript', src='#{baseUrlCdn}/js/bootstrap-colorpicker/bootstrap-colorpicker-2.3.3.min.js')
  link(href='#{baseUrlCdn}/css/bootstrap-colorpicker/bootstrap-colorpicker-2.3.3.min.css', rel='stylesheet')
    
  script(type='text/javascript', src='#{baseUrlCdn}/js/bootstrap-datepicker/bootstrap-datepicker-1.6.1.min.js')
  link(href='#{baseUrlCdn}/css/bootstrap-datepicker/bootstrap-datepicker-1.6.1.min.css', rel='stylesheet')

  script(type='text/javascript').
    $('#colorpicker').colorpicker();
    $('.datepicker.start').datepicker({
      clearBtn: true,
      format: 'dd/mm/yyyy',
      weekStart: 1,
      daysOfWeekHighlighted: '0,6',
      autoclose: true
    }).on('changeDate', function(e) {
      $('#startdate2').val(e.date.getTime());
    });
    $('.datepicker.end').datepicker({
      clearBtn: true,
      format: 'dd/mm/yyyy',
      weekStart: 1,
      daysOfWeekHighlighted: '0,6',
      autoclose: true
    }).on('changeDate', function(e) {
      $('#enddate2').val(e.date.getTime());
    });
    $('.spinner .btn:first-of-type').on('click', function() {
      $('.spinner input').val( parseInt($('.spinner input').val(), 10) + 1);
    });
    $('.spinner .btn:last-of-type').on('click', function() {
      $('.spinner input').val( parseInt($('.spinner input').val(), 10) - 1);
    });
     
    labelFormatter = function(label, series) {
      return "<div style='font-size:12pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
    } // end labelFormatter