.row
  .side-menu
    nav.navbar.navbar-default(role='navigation')
      .navbar-header
        .brand-wrapper
          button.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .brand-name-wrapper
            a.navbar-brand.hidden-xs(href='/')
              img(src='#{baseUrlCdn}/img/t6.png', alt='t6, IoT platform and API', width='30', style='display: inline; vertical-align:middle; margin:0 5px 0 0;')
              span t6, IoT platform and API
      
            -if(title)
              .visible-xs-inline.btn-group-justified
                a.navbar-brand(style='color: #2973ac; font-weight: bold;') !{title}

          // Search
          a#search-trigger.btn.btn-default(data-toggle='collapse', href='#search')
            span.fa.fa-search
          // Search body
          #search.panel-collapse.collapse
            .panel-body
              form.navbar-form(role='search', method='post', action='/search')
                .form-group
                  input.form-control(name='q', type='text', placeholder='Search for Objects, Flows, Snippets, Dashboards...')
                button.btn.btn-default(type='submit')
                  span.fa.fa-check
      // Main Menu
      .side-menu-container
        ul.nav.navbar-nav
          - if (user)
            li#dropdown.panel.panel-default(class=(currentUrl.indexOf("/account")>-1)?'active':undefined)
              a(data-toggle='collapse', href='#dropdown-account', style='padding: 5px 20px 5px 10px !important;')
                span.fa.fa-users.caret.pull-right
                img.img-responsive.img-circle.pull-left(src='//www.gravatar.com/avatar/#{user.mail_hash}?s=30&d=mm&r=g', width='30', align='left')
                | #{user.firstName} #{user.lastName}
                br/
                span
                  i.caps #{user.role}&nbsp;
              #dropdown-account.panel-collapse.collapse
                .panel-body
                  ul.nav.navbar-nav
                    li(class=(currentUrl.indexOf("/account/profile")>-1)?'active':undefined)
                      a(href='/account/profile')
                        span.fa.fa-user.pull-right
                        |  Profile
                    li(class=(currentUrl.indexOf("/keys")>-1)?'active':undefined)
                      a(href='/keys')
                        span.fa.fa-flash.pull-right
                        |  API Keys
                    li
                      a(href='/account/logout')
                        span.fa.fa-sign-out.pull-right
                        |  Logout

            li(class=(currentUrl.indexOf("/objects")>-1)?'active':undefined)
              a(href='/objects')
                span.fa.fa-cubes.pull-right
                |  Objects
            li(class=(currentUrl.indexOf("/flows")>-1)?'active':undefined)
              a(href='/flows')
                span.fa.fa-random.pull-right
                |  Flows
            li(class=(currentUrl.indexOf("/snippets")>-1)?'active':undefined)
              a(href='/snippets')
                span.fa.fa-puzzle-piece.pull-right
                |  Snippets
            li(class=(currentUrl.indexOf("/dashboards")>-1)?'active':undefined)
              a(href='/dashboards')
                span.fa.fa-area-chart.pull-right
                |  Dashboards
            li(class=(currentUrl.indexOf("/decision-rules")>-1)?'active':undefined)
              a(href='/decision-rules')
                span.fa.fa-filter.pull-right
                |  Decision Rules (beta)
            li(class=(currentUrl.indexOf("/mqtts")>-1)?'active':undefined)
              a(href='/mqtts')
                span.fa.fa-commenting-o.pull-right
                |  Mqtt Topics

          - else
            li(class=(currentUrl.indexOf("/account/login")>-1)?'active':undefined)
              a(href='/account/login')
                span.fa.fa-user.pull-right 
                |  Sign In
            li(class=(currentUrl.indexOf("/account/register")>-1)?'active':undefined)
              a(href='/account/register')
                span.fa.fa-user-plus.pull-right
                |  Sign Up
            li
              a(href='https://github.com/mathcoll/t6')
                span.fa.fa-github.pull-right
                | GitHub
          - end

          li.separator &nbsp;

          li(class=(currentUrl.indexOf("/features/api")>-1)?'active':undefined)
            a(href='/features/api')
              span.fa.fa-book.pull-right
              |  API Documentation
          li(class=(currentUrl.indexOf("/status")>-1)?'active':undefined)
            a(href='/status')
              span.fa.fa-heart-o.pull-right
              |  API Status
          li
            a(href='https://github.com/mathcoll/t6')
              span.fa.fa-github.pull-right
              |  GitHub
