nav.navbar.navbar-default.navbar-fixed-top
  div
    .navbar-header
      button.navbar-toggle.collapsed.navbar-left(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
      - if( title )
        .brand-name-wrapper
          a.navbar-brand.visible-md-inline.visible-lg-inline(href='/') !{title}
          a.navbar-brand.hidden-xs.hidden-md.hidden-lg(href='/') t6
      - else
        .brand-name-wrapper
          a.navbar-brand.visible-xs-inline(href='/') t6
      - end

    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        - if (user)
          li(class=(currentUrl.indexOf("/objects")>-1)?'active':undefined)
            a(href='/objects') 
              i.fa.fa-cubes
                |  Objects

          li(class=(currentUrl.indexOf("/flows")>-1)?'active':undefined)
            a(href='/flows')
              i.fa.fa-random
                |  Flows

          li(class=(currentUrl.indexOf("/snippets")>-1)?'active':undefined)
            a(href='/snippets')
              i.fa.fa-puzzle-piece
                |  Snippets

          li(class=(currentUrl.indexOf("/dashboards")>-1)?'active':undefined)
            a(href='/dashboards')
              i.fa.fa-area-chart
                |  Dashboards

          li(class=(currentUrl.indexOf("/decision-rules")>-1)?'active':undefined)
            a(href='/decision-rules')
              i.fa.fa-filter
              |  Decision Rules (beta)

          li(class=(currentUrl.indexOf("/keys")>-1)?'active':undefined)
            a(href='/keys')
              i.fa.fa-flash
              |  API Keys

        - else
          li(class=(currentUrl.indexOf("/features/architecture")>-1)?'active':undefined)
            a(href='/features/architecture')
              i.fa.fa-square
              |  Architecture

          li(class=(currentUrl.indexOf("/features/customize-dashboards")>-1)?'active':undefined)
            a(href='/features/customize-dashboards')
              i.fa.fa-area-chart
              |  Dashboards & Snippets

          li(class=(currentUrl.indexOf("/features/api")>-1)?'active':undefined)
            a(href='/features/api')
              i.fa.fa-wrench
              |  Developers
        - end

      ul.nav.navbar-nav.navbar-right
        - if (user)
          li(class=(currentUrl.indexOf("/account")>-1)?'active':undefined)
            form.header-search(method='post', action='/search')
              .row(style='padding-top: 8px;')
                .input-group
                  input.form-control(name='q', type='text', placeholder='Search for Objects, Flows...', style='width:80px')
                  span.input-group-btn
                    button.btn.btn-default.fa.fa-search(type='submit', style='top:0;font-size:14px;line-height:20px;') 

          li.dropdown
            .dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='#', style='padding:5px 35px 0 15px;')
              img.img-responsive.img-circle(src='http://www.gravatar.com/avatar/#{user.mail_hash}?s=40&d=mm&r=g', width='40', align='left')
              span #{user.firstName} #{user.lastName}
              br
              span
                i.caps #{user.role}&nbsp;
              span.caret
            ul.dropdown-menu.dropdown-menu-right
              li(class=(currentUrl.indexOf("/account/profile")>-1)?'active':undefined)
                a(href='/account/profile')
                  i.fa.fa-user 
                  |  My Profile 
              li.divider(role='separator')
              li(class=(currentUrl.indexOf("/status")>-1)?'active':undefined)
                a(href='/status')
                  span.fa.fa-heart-o  API Status
              li
                a(href='https://github.com/mathcoll/t6')
                  span.fa.fa-github  GitHub
              li.divider(role='separator')
              li
                a(href='/account/logout')
                  span.fa.fa-sign-out  Logout
        - else
              li(class=(currentUrl.indexOf("/login")>-1)?'active':undefined)
                a(href='/account/login')
                  span.fa.fa-user &nbsp;Sign In
              li(class=(currentUrl.indexOf("/register")>-1)?'active':undefined)
                a(href='/account/register')
                  span.fa.fa-plus-sign &nbsp;Sign Up
              li(class=(currentUrl.indexOf("/status")>-1)?'active':undefined)
                a(href='/status')
                  span.fa.fa-heart-o
                  | API Status
              li
                a(href='https://github.com/mathcoll/t6')
                  span.fa.fa-github
                  | GitHub
        - end