.row
  .side-menu
    nav.navbar.navbar-default(role='navigation')
      .navbar-header
        .brand-wrapper
          button.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .brand-name-wrapper
            a.navbar-brand.hidden-xs(href='/')
              | Easy-IOT
      
            -if(title)
              .visible-xs-inline.btn-group-justified
                a.navbar-brand(style='color: #337ab7; font-weight: bold;') !{title}

          // Search
          a#search-trigger.btn.btn-default(data-toggle='collapse', href='#search')
            span.fa.fa-search
          // Search body
          #search.panel-collapse.collapse
            .panel-body
              form.navbar-form(role='search', method='post', action='/search')
                .form-group
                  input.form-control(name='q', type='text', placeholder='Search Object, Flows...')
                button.btn.btn-default(type='submit')
                  span.glyphicon.glyphicon-ok
      // Main Menu
      .side-menu-container
        ul.nav.navbar-nav
          - if (user)
            li
              a(href='/objects')
                span.fa.fa-cubes
                |  My Objects
            li
              a(href='/flows')
                span.fa.fa-random
                |  My Flows
            li#dropdown.panel.panel-default
              a(data-toggle='collapse', href='#dropdown-dashboards')
                span.fa.fa-area-chart
                |  My Dashboards
                span.caret
              // Dropdown dashboards
              #dropdown-dashboards.panel-collapse.collapse
                .panel-body
                  ul.nav.navbar-nav
                    li
                      a(href='/dashboards/1')
                        span.fa.fa-line-chart &nbsp;Dashboard 1
                    li
                      a(href='/dashboards/2')
                        span.fa.fa-line-chart &nbsp;Dashboard 2

            li#dropdown.panel.panel-default
              a(data-toggle='collapse', href='#dropdown-account')
                img.img-responsive.img-circle(src='http://www.gravatar.com/avatar/#{user.mail_hash}?s=40&d=mm&r=g', width='40', align='left')
                span #{user.firstName} #{user.lastName}
                span.caret
                br
                span
                  i.caps #{user.role}&nbsp;
              // Dropdown account
              #dropdown-account.panel-collapse.collapse
                .panel-body
                  ul.nav.navbar-nav
                    li
                      a(href='/profile')
                        span.fa.fa-user &nbsp;Profile
                    li
                      a(href='/decision-rules')
                        span.fa.fa-filter &nbsp;Decision Rules
                    li
                      a(href='/v2.0.1/status')
                        span.fa.fa-heart-o &nbsp;API Status
                    li
                      a(href='https://github.com/mathcoll/Easy-IOT')
                        span.fa.fa-github &nbsp;GitHub
                    li.divider(role='separator')
                    li
                      a(href='/logout')
                        span.fa.fa-sign-out &nbsp;Logout
          - else
            li
              a(href='/login')
                span.fa.fa-user 
                |  Sign In
            li
              a(href='/register')
                span.fa.fa-user-plus
                |  Sign Up
            li
              a(href='/v2.0.1/status')
                span.fa.fa-heart-o
                |  API Status
            li
              a(href='https://github.com/mathcoll/Easy-IOT')
                span.fa.fa-github
                |  GitHub