.row
  .side-menu
    nav.navbar.navbar-default(role='navigation')
      .navbar-header
        .brand-wrapper
          button.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .brand-name-wrapper
            a.navbar-brand.hidden-xs(href='/')
              | t6, IoT platform and API
      
            -if(title)
              .visible-xs-inline.btn-group-justified
                a.navbar-brand(style='color: #337ab7; font-weight: bold;') !{title}

          // Search
          a#search-trigger.btn.btn-default(data-toggle='collapse', href='#search')
            span.fa.fa-search
          // Search body
          #search.panel-collapse.collapse
            .panel-body
              form.navbar-form(role='search', method='post', action='/search')
                .form-group
                  input.form-control(name='q', type='text', placeholder='Search for Objects, Flows...')
                button.btn.btn-default(type='submit')
                  span.glyphicon.glyphicon-ok
      // Main Menu
      .side-menu-container
        ul.nav.navbar-nav
          - if (user)
            li
              a(href='/objects')
                span.fa.fa-cubes.pull-right
                |  My Objects
            li
              a(href='/flows')
                span.fa.fa-random.pull-right
                |  My Flows
            li
              a(href='/snippets')
                span.fa.fa-puzzle-piece.pull-right
                |  My Snippets
            li
              a(href='/dashboards')
                span.fa.fa-area-chart.pull-right
                |  My Dashboards

            li#dropdown.panel.panel-default
              a(data-toggle='collapse', href='#dropdown-account')
                span.fa.fa-users.caret.pull-right
                img.img-responsive.img-circle.pull-left(src='http://www.gravatar.com/avatar/#{user.mail_hash}?s=30&d=mm&r=g', width='30', align='left')
                | #{user.firstName} #{user.lastName}
                br/
                span
                  i.caps #{user.role}&nbsp;
              // Dropdown account
              #dropdown-account.panel-collapse.collapse
                .panel-body
                  ul.nav.navbar-nav
                    li
                      a(href='/profile')
                        span.fa.fa-user.pull-right
                        |  Profile
                    li
                      a(href='/decision-rules')
                        span.fa.fa-filter.pull-right
                        |  Decision Rules
                    li
                      a(href='/v#{version}/status')
                        span.fa.fa-heart-o.pull-right
                        |  API Status
                    li
                      a(href='https://github.com/mathcoll/t6')
                        span.fa.fa-github.pull-right
                        |  GitHub
                    li.divider(role='separator')
                    li
                      a(href='/logout')
                        span.fa.fa-sign-out.pull-right
                        |  Logout
          - else
            li
              a(href='/login')
                span.fa.fa-user.pull-right 
                |  Sign In
            li
              a(href='/register')
                span.fa.fa-user-plus.pull-right
                |  Sign Up
            li
              a(href='/v#{version}/status')
                span.fa.fa-heart-o.pull-right
                |  API Status
            li
              a(href='https://github.com/mathcoll/t6')
                span.fa.fa-github.pull-right
                | GitHub