a.list-group-item(href='/objects/#{objects[object].id}')
  h4.list-group-item-heading
    span.glyphicon.glyphicon-inbox(data-toggle='tooltip' data-placement='top' title='#{objects[object].type}')
    | &nbsp;#{objects[object].name}&nbsp;
    - if (objects[object].id)
      small
        span.label.label-warning(data-toggle='tooltip' data-placement='top' title='Object ID') #{objects[object].id}
    p 
      small #{objects[object].description}
          button.btn.btn-primary.btn-sm.pull-right(href='/objects/#{objects[object].id}/edit', onclick="window.location.href='/objects/#{objects[object].id}/edit'; return false;")
            span.glyphicon.glyphicon-pencil  Edit
    small
      - if (objects[object].ipv4)
        span.label.label-danger(data-toggle='tooltip' data-placement='top' title='IPv4 Adress') #{objects[object].ipv4}
        | &nbsp;
      - if (objects[object].type)
        span.label.label-default(data-toggle='tooltip' data-placement='top' title='Object Type') #{objects[object].type}
        | &nbsp;
      - if (objects[object].position)
        span.label.label-primary(data-toggle='tooltip' data-placement='top' title='Object Location') #{objects[object].position}
        | &nbsp;