.clearfix.list-group-item(name='#{objects[object].id}')
  h4.list-group-item-heading
    a(href='/objects/#{objects[object].id}')
      span.glyphicon.glyphicon-inbox
      | &nbsp;#{objects[object].name}&nbsp;
      - if (objects[object].id)
        small

  div.col-sm-8
      small #{objects[object].description}

  div.col-sm-2
      a.btn.btn-primary.btn-sm.pull-right(href='/objects/#{objects[object].id}/edit')
        span.glyphicon.glyphicon-pencil  Edit

  div.col-sm-2
      a.btn.btn-danger.btn-sm.pull-right(href='/objects/#{objects[object].id}/remove', onclick="if(confirm('Are you sure to remove #{objects[object].name} ?')) {return true;}; return false;")
        span.glyphicon.glyphicon-remove  Remove
  div.col-sm-12
    small
      span.label.label-warning(data-toggle='tooltip' data-placement='top' title='Object ID') #{objects[object].id}
      | &nbsp;
      - if (objects[object].ipv4)
        span.label.label-danger(data-toggle='tooltip' data-placement='top' title='IPv4 Adress') #{objects[object].ipv4}
        | &nbsp;
      - if (objects[object].ipv6)
        span.label.label-danger(data-toggle='tooltip' data-placement='top' title='IPv6 Adress') #{objects[object].ipv6}
        | &nbsp;
      - if (objects[object].type)
        span.label.label-default(data-toggle='tooltip' data-placement='top' title='Object Type') #{objects[object].type}
        | &nbsp;
      - if (objects[object].position)
        span.label.label-primary(data-toggle='tooltip' data-placement='top' title='Object Location') #{objects[object].position}
        | &nbsp;