a.clearfix.list-group-item(name='#{objects[object].id}', href='/objects/#{objects[object].id}')
  h4.list-group-item-heading
    span.glyphicon.glyphicon-inbox
    | &nbsp;#{objects[object].name}&nbsp;
  span.vcenter.glyphicon.glyphicon-chevron-right.pull-right 

  div.col-sm-12
    - if(objects[object].latitude && objects[object].longitude)
      span &nbsp;&nbsp;
      span.glyphicon.glyphicon-map-marker(data-toggle='tooltip' data-placement='top' title='Latitude') #{objects[object].latitude}
      | &nbsp;&nbsp;
      span.glyphicon.glyphicon-map-marker(data-toggle='tooltip' data-placement='top' title='Longitude') #{objects[object].longitude}
    - else
      span &nbsp;&nbsp;
    - end