a.clearfix.list-group-item(name='#{objects[object].id}', href='/objects/#{objects[object].id}')
  div.col-sm-4
    h4.list-group-item-heading
      span.fa.fa-cube
      | &nbsp;#{objects[object].name}&nbsp;

  div.col-sm-4
    span.label.label-default.ellipse(data-toggle='tooltip' data-placement='top' title='Object Id')  #{objects[object].id}

  div.col-sm-4
    - if(objects[object].latitude && objects[object].longitude)
      span.fa.fa-map-marker(data-toggle='tooltip' data-placement='top' title='Latitude') #{objects[object].latitude}
      | &nbsp;&nbsp;
      span.fa.fa-map-marker(data-toggle='tooltip' data-placement='top' title='Longitude') #{objects[object].longitude}
    - else
    - end

  div.col-sm-12
    div.fa.fa-chevron-right.pull-right 
    div #{objects[object].description}
