- var p = 1
- if (page>0)
  - var prevPage = page-1
- if (page<pagenb)
  - var nextPage = prevPage+2
- else
  - var nextPage = ''

nav
  ul.pagination.col-xs-12.clearfix
    - if (prevPage>0)
      li
        - if ( currentUrl === '/objects/add' )
          a(href='/objects?page=#{prevPage}', aria-label='Previous')
            span(aria-hidden='true') ← Previous
        - else if ( currentUrl === '/flows/add' )
          a(href='/flows?page=#{prevPage}', aria-label='Previous')
            span(aria-hidden='true') ← Previous
        - else if ( currentUrl === '/snippets/add' )
          a(href='/snippets?page=#{prevPage}', aria-label='Previous')
            span(aria-hidden='true') ← Previous
        - else if ( currentUrl === '/dashboards/add' )
          a(href='/dashboards?page=#{prevPage}', aria-label='Previous')
            span(aria-hidden='true') ← Previous
        - else
          a(href='?page=#{prevPage}', aria-label='Previous')
            span(aria-hidden='true') ← Previous
    - while (p <= pagenb)
      - if (p == page)
        li.active
          a #{p}
      - else
        li
          - if ( currentUrl === '/objects/add' )
            a(href="/objects?page=#{p}") #{p}
          - else if ( currentUrl === '/flows/add' )
            a(href="/flows?page=#{p}") #{p}
          - else if ( currentUrl === '/snippets/add' )
            a(href="/snippets?page=#{p}") #{p}
          - else if ( currentUrl === '/dashboards/add' )
            a(href="/dashboards?page=#{p}") #{p}
          - else
            a(href="?page=#{p}") #{p}
      - var p=(p+1)
    - if (nextPage)
      li
        - if ( currentUrl === '/objects/add' )
          a(href='/objects?page=#{nextPage}', aria-label='Next')
            span(aria-hidden='true') Next →
        - else if ( currentUrl === '/flows/add' )
          a(href='/flows?page=#{nextPage}', aria-label='Next')
            span(aria-hidden='true') Next →
        - else if ( currentUrl === '/snippets/add' )
          a(href='/snippets?page=#{nextPage}', aria-label='Next')
            span(aria-hidden='true') Next →
        - else if ( currentUrl === '/dashboards/add' )
          a(href='/dashboards?page=#{nextPage}', aria-label='Next')
            span(aria-hidden='true') Next →
        - else
          a(href='?page=#{nextPage}', aria-label='Next')
            span(aria-hidden='true') Next →
    li.separator &nbsp;
    li.pull-right
      - if ( currentUrl === '/objects' || currentUrl === '/objects/' )
        a.btn.btn-primary.m-t(href="/objects/add")
          span.fa.fa-plus  Add Object
      - else if ( currentUrl === '/flows' || currentUrl === '/flows/' )
        a.btn.btn-primary.m-t(href="/flows/add")
          span.fa.fa-plus  Add Flow
      - else if ( currentUrl === '/snippets' || currentUrl === '/snippets/' )
        a.btn.btn-primary.m-t(href="/snippets/add")
          span.fa.fa-plus  Add Snippet
      - else if ( currentUrl === '/dashboards' || currentUrl === '/dashboards/' )
        a.btn.btn-primary.m-t(href="/dashboards/add")
          span.fa.fa-plus  Add Dashboard

div &nbsp;