- var p = 1
- if (page>0)
  - var prevPage = page-1
- if (page<pagenb)
  - var nextPage = prevPage+2
- else
  - var nextPage = ''

nav
  ul.pagination
    - if (prevPage>0)
      li
        - if ( currentUrl === '/objects/add' || currentUrl === '/flows/add' )
          a(href='/objects?page=#{prevPage}', aria-label='Previous')
            span(aria-hidden='true') ← Previous
        - else
          a(href='?page=#{prevPage}', aria-label='Previous')
            span(aria-hidden='true') ← Previous
    - while (p <= pagenb)
      - if (p == page)
        li.active
          a #{p}
      - else
        li
          - if ( currentUrl === '/objects/add' || currentUrl === '/flows/add' )
            a(href="/objects?page=#{p}") #{p}
          - else
            a(href="?page=#{p}") #{p}
      - var p=(p+1)
    - if (nextPage)
      li
        - if ( currentUrl === '/objects/add' || currentUrl === '/flows/add' )
          a(href='/objects?page=#{nextPage}', aria-label='Next')
            span(aria-hidden='true') Next →
        - else
          a(href='?page=#{nextPage}', aria-label='Next')
            span(aria-hidden='true') Next →