doctype html
head(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0")
  meta(http-equiv='Content-Type' content='text/html; charset=us-ascii' style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0")
  meta(name='viewport' content='width=device-width' style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0")
  title t6 updates
table.body-wrap(style="-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;background:#efefef;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;height:100%;line-height:1.65;margin:0;padding:0;width:100%!important")
  tbody
    tr(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0")
      td.container(style="clear:both!important;display:block!important;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0 auto!important;max-width:580px!important;padding:0")
        table(style="border-collapse:collapse;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0;width:100%!important")
          tbody
            tr(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0")
              td.masthead(style="background:#fff no-repeat;color:#795548;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0" align='center')
                img(src=baseUrl+'/img/t6.png')
                h1(style="color:#795548;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:32px;line-height:1.25;margin:10px!important;margin-bottom:20px;max-width:90%;padding:0;text-transform:uppercase")
                  | t6 news: Deploy Arduino code Over The Air (OTA)
            tr(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0")
              td.content(style="background:#fff;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:30px 35px")
                h2(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:28px;line-height:1.25;margin:0;margin-bottom:20px;padding:0")
                  | Hi #{user.firstName} #{user.lastName},
                p(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.65;margin:0;padding:0")
                  | A new resource has been rolled out on t6 recently: Sources allows to script Arduino code on t6, Build it and deploy to your Arduino Over The Air (using Wifi).
                br
                p(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.65;margin:0;padding:0")
                  | To use the new feature, just need as prerequisite to have already OTA library installed on your current sketch. You can find several tutorals online and on 
                  a(href="https://arduino.github.io/arduino-cli/getting-started/") the official Arduino documentation 
                p(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.65;margin:0;padding:0")
                  | - Once this is done, then go to t6, Add your new sketch in the source, click to Build.
                p(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.65;margin:0;padding:0")
                  | - The Source can be linked on any Object using its Source Id.
                p(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.65;margin:0;padding:0")
                  | - Last step is to click on "Deploy" button from the Source view, and voila...
                p(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.65;margin:0;padding:0")
                  br
                  | If you need more details about setting your Source&OTA, please get back to me.
                br
                p(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.65;margin:0;padding:0")
                table(style="border-collapse:collapse;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0;width:100%!important")
                  tbody
                    tr(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0")
                      td(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0" align='center')
                        p(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.65;margin:0;margin-bottom:20px;padding:0")
                          a.btn.btn-primary(href='https://join.slack.com/t/internetcollaboratif/shared_invite/enQtNzg3NTk5MDk4ODg2LTVjNzlhOWY1NDViYWQxZmMxMjE3YjE5NzU5ZTY2NzRjNGJhMzUzMzc4NjY1YTIzMTBhODUyYzlhYWU1YmI0MmE' style="-moz-user-select:none;background-color:#795548;background-image:none;border-color:#795548;border-radius:4px;color:#fff;cursor:pointer;display:inline-block;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.42857;margin:0;margin-bottom:0;padding:6px 12px;text-align:center;text-decoration:none;vertical-align:middle;white-space:nowrap") Join t6 on Slack
                          | &nbsp;or 
                          a.btn.btn-primary(href='' + baseUrl + '?utm_source=t6app&utm_medium=email&utm_campaign=newsletter', style="-moz-user-select:none;background-color:#795548;background-image:none;border-color:#795548;border-radius:4px;color:#fff;cursor:pointer;display:inline-block;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.42857;margin:0;margin-bottom:0;padding:6px 12px;text-align:center;text-decoration:none;vertical-align:middle;white-space:nowrap") Go to t6
                hr(style='border:1px solid #999; width: 10%;')
                br
                p(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.65;margin:0;margin-bottom:20px;padding:0")
                  | Thank you, and see you soon on t6 + Slack.
                p(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.65;margin:0;margin-bottom:20px;padding:0")
                  em(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0")
                    | &ndash; Mathieu from t6
    tr(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0")
      td.container(style="clear:both!important;display:block!important;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0 auto!important;max-width:580px!important;padding:0")
        table(style="border-collapse:collapse;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0;width:100%!important")
          tbody
            tr(style="font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0")
              td.content.footer(style="background:0 0;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:30px 35px" align='center')
                p(style="color:#888;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.65;margin:0;margin-bottom:0;padding:0;text-align:center")
                  | Sent to #{user.email} by 
                  a(href='' + baseUrl + '?utm_source=t6app&utm_medium=email&utm_campaign=newsletter', style="color:#888;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;line-height:1.65;margin:0;padding:0;text-decoration:none") t6 from internetcollaboratif.info
                p(style="color:#888;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.65;margin:0;margin-bottom:0;padding:0;text-align:center")
                  | This is an automated system email. Please do not reply to this email. 
                  a(href='' + baseUrl + '/mail/' + user.email + '/unsubscribe/newsletter/' + user.unsubscription_token + '?utm_source=t6app&utm_medium=email&utm_campaign=newsletter&utm_content=unsubscribe', style="color:#888;font-family:'Avenir Next','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:100%;font-weight:700;line-height:1.65;margin:0;padding:0;text-decoration:none") Unsubscribe from newsletters.
