doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade

    .-o-container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-area-chart &nbsp;My Dashboards&nbsp;
          if (message && message.type && message.value)
            div.alert(class='alert-#{message.type}', role='alert') !{message.value}
        blockquote.fa.fa-comment  

      .row.side-body
        .col-xs-12.col-sm-12.col-md-12
          ul.clearfix.pagination
            li.active
              span.fa.fa-3x.fa-area-chart(style='border-bottom-left-radius:0;border-bottom-right-radius:0;')  #{dashboards_length} Dashboards        
                - var percent = Math.round((dashboards_length*100/quota.dashboards)*100) /100
                - var style = "success"
                - if (percent > 60)
                  - style = "warning"
                - end
                - if (percent > 85)
                  - style = "danger"
                - end
                - if (percent < 1)
                  - percent = 1
                  - percent_txt = '<1'
                - else
                  - percent_txt = percent
                - end
              p.progress-bar.progress-bar-striped.active(data-toggle='tooltip', data-placement='top', title='#{percent_txt}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{dashboards_length}", aria-valuemin="0", aria-valuemax="#{quota.dashboards}", style="width: #{percent}%; height: 5px;") &nbsp;

      .row.side-body
        .col-sm-12
          if (dashboards.length)
            ul.list-group.list-unstyled.col-sm-12.col-md-12.col-md-offset-0
              include ../includes/pagination.jade
              include ./item_header.jade
              .list-group
                - for(dashboard in dashboards) {
                  include ./item_list.jade
                - }
              include ../includes/pagination.jade
          else
            p &nbsp;
            div.alert.alert-warning You don't have any Dashboard yet in your shelves. You can add a <a href="/dashboards/add">Dashboard</a> to graph your Flows

    include ../includes/foot.jade