doctype html
html(lang='en')
  - title=dashboard.name
  include ../includes/head.jade
  body
    .container-fluid
        h2.fa.fa-2x.fa-random.editable-click#name(href='#', data-type='text', data-pk='1', data-url='./#{dashboard.id}/setName', data-title='Your dashboard name')  #{dashboard.name}
        span.editable.pull-right(style="margin-top: 20px;")
        p.editable-click#description(href='#', data-type='textarea', data-pk='2', data-url='./#{dashboard.id}/setDescription', data-title='Your dashboard description') !{nl2br(dashboard.description)}

      .row.col-md-12
        - if (message && message.type && message.value)
          div.alert.alert-dismissible(class='alert-#{message.type}', role='alert') #{message.value}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') &times;
        - end

      .row.col-md-12
        .col-xs-10.col-md-8
          ul.col-md-12.list-unstyled.connectedSortable.sortable
            | !{snippetHtml}

        .col-xs-2.col-md-4
          .sidebar-module-inset
            h3 
            ul.list-unstyled.connectedSortable.sortable
              li &nbsp;
              li &nbsp;

      .row.col-sm-12
        include ../includes/material-menu.jade
    
    link(href='#{baseUrlCdn}/css/sweetalert/sweetalert.css', rel='stylesheet')
    script(src='#{baseUrlCdn}/js/sweetalert/sweetalert.js')
    link(href='#{baseUrlCdn}/css/bootstrap-editable/bootstrap-editable-1.5.0.css', rel='stylesheet')
    script(src='#{baseUrlCdn}/js/bootstrap-editable/bootstrap-editable-1.5.0.min.js')
    script.
      $(document).ready(function() {
        $.fn.editable.defaults.mode = 'inline';
        $('h2#name').editable();
        $('p#description').editable();
      });