doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-area-chart &nbsp;Add a Dashboard to your library
        
        if (message && message.type == 'danger' && message.value)
        .col-sm-12(class='alert alert-#{message.type}')#add
        
          div.sidebar-module-inset
            if (message && message.type && message.value)
              div.alert(class='alert-#{message.type}', role='alert') #{message.value}

            form(action="/dashboards/add#add", method="post")
              .form-group
                label.control-label(for="name") Dashboard Name:
                  span.mandatory *
                span.input-group
                  span.input-group-addon
                    span.fa.fa-area-chart
                  input.form-control(type="text", name="name", placeholder="Dashboard Name", id="name", value=new_dashboard.name)

              .form-group
                label.control-label(for="snippets") Snippets:
                span.input-group
                  span.input-group-addon
                    span.fa.fa-puzzle-piece
                  select.form-control(multiple, name="snippets[]", id="snippets")
                    - for(snippet in snippets) {
                      option(value="#{snippets[snippet].id}", selected=((new_dashboard.snippets).indexOf(snippets[snippet].id) > -1 ? "selected" : undefined)) #{snippets[snippet].name}
                    - }

              .form-group
                label.control-label(for="description") Description:
                span.input-group
                  span.input-group-addon
                    span.fa.fa-pencil-square-o
                  textarea.form-control.vresize(name="description", placeholder="Dashboard Description", id="description") #{new_dashboard.description}

              .form-group
                label.control-label(for="layout") Layout:
                  span.mandatory *
                span.input-group
                  span.input-group-addon
                    span.glyphicon.glyphicon-bookmark
                  select.form-control(type="text", name="layout", placeholder="Dashboard Layout", id="layout")
                    option(value="onecolumn", selected=(new_dashboard.layout=='onecolumn' ? "selected" : undefined)) onecolumn
                    option(value="twocolumnsright", selected=(new_dashboard.layout=='twocolumnsright' ? "selected" : undefined)) twocolumnsright
                    option(value="twocolumnsleft", selected=(new_dashboard.layout=='twocolumnsleft' ? "selected" : undefined)) twocolumnsleft

              .form-group
                button.btn.btn-primary.m-t.pull-right
                  span.fa.fa-plus  Add Dashboard
              
              p &nbsp;

    include ./includes/foot.jade