doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-random &nbsp;Flow&nbsp;
            strong #{flow.name}

    .container-fluid
      .row.side-body
        .col-sm-8
          h3 Update a Flow to your library
          form(action="/flows/#{flow.id}/edit", method="post")
            .form-group
              label.control-label(for="name") Flow Name:
                span.mandatory *
              input.form-control(type="text", name="name", placeholder="Flow Name", id="name", value="#{flow.name}")

            .form-group
              label.control-label(for="datatype") Data-Type:
                span.mandatory *
              span.input-group
                span.input-group-addon
                  span.glyphicon.glyphicon-bookmark
                select.form-control(type="text", name="datatype", placeholder="Data-Type", id="datatype")
                  - for(datatype in datatypes) {
                    -if (datatypes[datatype].id === flow.data_type)
                      option(value="#{datatypes[datatype].id}", selected="selected") #{datatypes[datatype].name}
                    -else
                      option(value="#{datatypes[datatype].id}") #{datatypes[datatype].name}
                  - }

            .form-group
              label.control-label(for="unit") Unit:
                span.mandatory *
              span.input-group
                span.input-group-addon
                  span.glyphicon.glyphicon-magnet
                select.form-control(type="text", name="unit", placeholder="Unit", id="unit")
                  - for(unit in units) {
                    -if (units[unit].id === flow.unit_id)
                      option(value="#{units[unit].id}", selected="selected") #{units[unit].type} - #{units[unit].name}
                    -else
                      option(value="#{units[unit].id}") #{units[unit].type} - #{units[unit].name}
                  - }

            .form-group
              label.control-label(for="objects") Objects:
              span.input-group
                span.input-group-addon
                  span.fa.fa-cubes
                select.form-control(multiple, name="objects[]", placeholder="Objects", id="objects")
                  - for(object in objects) {
                    -if ( flow.objects.indexOf(objects[object].id, 0) > -1 )
                      option(value="#{objects[object].id}", selected) #{objects[object].name} (#{objects[object].type})
                    -else
                      option(value="#{objects[object].id}") #{objects[object].name} (#{objects[object].type})
                  - }

            .form-group
              label.fa.fa-user  Owner permission:&nbsp;&nbsp;/*NOT UPDATED*/
                br/ 
                span
                  label.control-label(for="OpermissionW") Write 
                    input#OpermissionW(name='owner_permission', type='radio', value='6', checked='checked') 
                  | &nbsp;&nbsp;
                  label.control-label(for="OpermissionR") Read 
                    input#OpermissionR(name='owner_permission', type='radio', value='4', disabled) 
                    
            .form-group
              label.fa.fa-user  Group permission:&nbsp;&nbsp;/*NOT UPDATED*/
                br/ 
                span
                  label.control-label(for="GpermissionW") Write 
                    input#GpermissionW(name='group_permission', type='radio', value='6') 
                  | &nbsp;&nbsp;
                  label.control-label(for="GpermissionR") Read 
                    input#GpermissionR(name='group_permission', type='radio', value='4') 
                  | &nbsp;&nbsp;
                  label.control-label(for="GpermissionN") None 
                    input#GpermissionN(name='group_permission', type='radio', value='0', checked='checked') 
                    
            .form-group
              label.fa.fa-user  Other permission:&nbsp;&nbsp;/*NOT UPDATED*/
                br/ 
                span
                  label.control-label(for="ApermissionW") Write 
                    input#ApermissionW(name='other_permission', type='radio', value='6', disabled) 
                  | &nbsp;&nbsp;
                  label.control-label(for="ApermissionR") Read 
                    input#ApermissionR(name='other_permission', type='radio', value='4', disabled) 
                  | &nbsp;&nbsp;
                  label.control-label(for="ApermissionN") None 
                    input#ApermissionN(name='other_permission', type='radio', value='0', checked='checked') 

            .form-group
              a.btn.btn-default.btn-sm.m-t.pull-left(href="/flows/#{flow.id}")
                span.fa.fa-random  Back to Flow
              button.btn.btn-primary.m-t.pull-right(type="submit", value="Update Flow")
                span.fa.fa-pencil-square-o  Update Flow
              | &nbsp;

          p &nbsp;

        .col-sm-6.col-md-4.col-md-offset-0
          .sidebar-module-inset
            p.text-center
              a.btn.btn-primary.btn-sm(href='../#{flow.id}')
                span.fa.fa-random  Flow
              | &nbsp;
              
              a.btn.btn-primary.btn-sm(href='../#{flow.id}/graph')
                span.fa.fa-area-chart  Graph
              | &nbsp;
              
              a.btn.btn-primary.btn-sm(href='/snippets/generic/#{flow.id}')
                span.fa.fa-puzzle-piece  Snippet
              | &nbsp;

    include ./includes/foot.jade