doctype html
html.ltr(lang='en', data-api-version=version, data-baseUrlCdn=baseUrlCdn, t6BuildVersion=t6BuildVersion)
  head
    if process.env.NODE_ENV === 'development'
      title DEV t6 IoT
    else
      title t6 IoT
    meta(charset='utf-8')
    meta(name='fragment', content='#')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='Description' content='t6 is an oriented-Data platform to connect physical Objects with timeseries DB.')
    meta(name='apple-mobile-web-app-title', content='t6 IoT App')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='msapplication-TileImage', content=baseUrlCdn + '/img/m/icons/mstile-150x150.png')
    meta(name='msapplication-TileColor', content='#795548')
    meta(name='theme-color', content='#ffffff')
    link(rel='apple-touch-startup-image', href=baseUrlCdn + '/img/m/splash/launch-640x1136.png', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
    link(rel='apple-touch-icon', sizes="180x180", href=baseUrlCdn + '/img/m/icons/icon-180x180.png')
    link(rel='icon', type="image/png", sizes='32x32', href=baseUrlCdn + '/img/m/icons/icon-32x32.png')
    link(rel='icon', type="image/png", sizes='16x16', href=baseUrlCdn + '/img/m/icons/icon-16x16.png')
    link(rel='mask-icon', color="#795548", href=baseUrlCdn + '/img/m/icons/safari-pinned-tab.svg')
    if process.env.NODE_ENV === 'development'
      link(rel='stylesheet', href=baseUrlCdn + '/css/vendor/material/material.brown-blue.min-1.3.0.css', type='text/css', data-integrity='', data-crossorigin='anonymous')
      link(rel='stylesheet', href=baseUrlCdn + '/css/t6app.css', type='text/css', data-integrity='', data-crossorigin='anonymous')
      link(rel="stylesheet", href="/css/vendor/Leaflet/leaflet-1.6.0.css")
    else
      link(rel='stylesheet', href=baseUrlCdn + '/css/t6app.min.css', type='text/css', data-integrity='', data-crossorigin='anonymous')
    link(rel='manifest', href='/manifest.json')
    //- Search Engine
    meta(name='description', content='t6 is an oriented-Data platform to connect physical Objects with timeseries DB.')
    meta(name='image', content=baseUrlCdn + '/img/repository-open-graph.jpg')
    meta(property='og:url', content=baseUrl_https)
    //- Schema.org for Google
    meta(itemprop='name', content='t6 IoT')
    meta(itemprop='description', content='t6 is an oriented-Data platform to connect physical Objects with timeseries DB.')
    meta(itemprop='image', content=baseUrlCdn + '/img/repository-open-graph.jpg')
    //- Mobile App for iOS & Android
    //- Twitter
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@mathcoll')
    meta(name='twitter:creator', content='@mathcoll')
    meta(name='twitter:title', content='t6 IoT')
    meta(name='twitter:text:title', content='t6 IoT')
    meta(name='twitter:image', content=baseUrlCdn + '/img/repository-open-graph.jpg')
    meta(name='twitter:image:alt', content='t6 IoT, connect physical Objects to timeseries.')
    meta(name='twitter:description', content='t6 is an oriented-Data platform to connect physical Objects with timeseries DB.')
    //- Twitter - Mobile App (iOS & Android)
    //- Open Graph general (Facebook, Pinterest & Google+)
    meta(name='og:title', content='t6 IoT')
    meta(name='og:description', content='t6 is an oriented-Data platform to connect physical Objects with timeseries DB.')
    meta(name='og:type', content='website')
    meta(property='og:image:type', content='image/jpeg')
    if trackings.googleSigninClientId
      meta(name="google-signin-client_id", content=""+trackings.googleSigninClientId)
  body
    if trackings.gtm
      noscript
        iframe(src="//www.googletagmanager.com/ns.html?id="+trackings.gtm, height="0", width="0", style="display:none;visibility:hidden")

    if trackings.firebaseConfig.firebaseJsVersion
      script(src="//www.gstatic.com/firebasejs/"+trackings.firebaseConfig.firebaseJsVersion+"/firebase-app.js")
      script(src="//www.gstatic.com/firebasejs/"+trackings.firebaseConfig.firebaseJsVersion+"/firebase-analytics.js")
      script(src="//www.gstatic.com/firebasejs/"+trackings.firebaseConfig.firebaseJsVersion+"/firebase-messaging.js")
      script.
        var firebaseConfig = (window.matchMedia('(display-mode: standalone)').matches) || (window.navigator.standalone) || document.referrer.includes('android-app://')===false?!{JSON.stringify(trackings.firebaseConfig.web)}:!{JSON.stringify(trackings.firebaseConfig.android)};
    
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-layout__header--waterfall.mdl-layout__header--waterfall-hide-top
        .mdl-layout__header-row
          h1.page_title t6 IoT App
          .mdl-layout-spacer

          nav.mdl-navigation
            button#notification.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
              i.material-icons priority_high
                
          //-nav.mdl-navigation
            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
              label.mdl-button.mdl-js-button.mdl-button--icon(for='search-exp')
                i.material-icons search
              .mdl-textfield__expandable-holder
                form
                  input#search-exp.mdl-textfield__input(type='text', name='q', placeholder='Search')

            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
              label.mdl-button.mdl-js-button.mdl-button--icon(for='filter-exp')
                i.material-icons tune
              .mdl-textfield__expandable-holder
                form
                  input#filter-exp.mdl-textfield__input(type='text', name='name', placeholder='Filter by name')

          nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link.statusButton(href='#status')
              i.material-icons favorite
              |  API Status
            a.mdl-navigation__link.docsButton(href='#docs')
              i.material-icons code
              |  API first
            a.mdl-navigation__link.termsButton(href='#terms')
              i.material-icons business_center
              |  Privacy & Terms
            a.mdl-navigation__link(href='//github.com/mathcoll/t6', target='_blank', rel='noopener')
              i.material-icons link
              |  GitHub

          nav.mdl-navigation
            button#menu.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
              i.material-icons more_vert

        .mdl-layout-spacer

        // Tabs
        .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-js-tabs
          a.mdl-navigation__link.mdl-layout__tab(href='#objects', for='objects')
            i.material-icons devices_other
            |  Objects
          a.mdl-navigation__link.mdl-layout__tab(href='#flows', for='flows')
            i.material-icons settings_input_component
            |  Flows
          a.mdl-navigation__link.mdl-layout__tab(href='#dashboards', for='dashboards')
            i.material-icons dashboard
            |  Dashboards
          a.mdl-navigation__link.mdl-layout__tab(href='#snippets', for='snippets')
            i.material-icons widgets
            |  Snippets
          a.mdl-navigation__link.mdl-layout__tab(href='#rules', for='rules')
            i.material-icons call_split
            |  Decision Rules
          a.mdl-navigation__link.mdl-layout__tab(href='#sources', for='sources')
            i.arduino-icon.build  
            |  Sources

      #drawer.mdl-layout__drawer
        div.side-nav__header#currentUserBackground
          img#currentUserHeader(src="", alt="Current user avatar")
          div#currentUserName.mdl-layout-title 
          div#currentUserEmail.mdl-layout-subheader
        nav.mdl-navigation.menu__list
          a.mdl-navigation__link(href='#index')
            i.material-icons home
            |  Index
          a.mdl-navigation__link(href='#objects')
            i.material-icons devices_other
            |  Objects
          a.mdl-navigation__link(href='#flows')
            i.material-icons settings_input_component
            |  Flows
          a.mdl-navigation__link(href='#dashboards')
            i.material-icons dashboard
            |  Dashboards
          a.mdl-navigation__link(href='#snippets')
            i.material-icons widgets
            |  Snippets
          a.mdl-navigation__link(href='#rules')
            i.material-icons call_split
            |  Decision Rules
          a.mdl-navigation__link(href='#sources')
            i.arduino-icon.build  
            |  Sources
          span.mdl-menu__item--full-bleed-divider 
          a.mdl-navigation__link(href='#settings')
            i.material-icons settings
            |  Settings
          a.mdl-navigation__link(href='#openSourceLicenses')
            i.material-icons book
            |  Open-source Licenses

      .setting_menu
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='menu')
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only.statusButton
            a.mdl-navigation__link(href='#status')
              i.material-icons favorite
              |  API Status
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only.docsButton
            a.mdl-navigation__link(href='#docs')
              i.material-icons code
              |  API first
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only.termsButton
            a.mdl-navigation__link(href='#terms')
              i.material-icons business_center
              |  Privacy & Terms
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only
            a.mdl-navigation__link(href='//github.com/mathcoll/t6', target='_blank', rel='noopener')
              i.material-icons launch
              |  GitHub
          li.mdl-js-ripple-effect.mdl-menu__item.settingsButton
            a.mdl-navigation__link(href='#settings')
              i.material-icons settings
              |  Settings
          li.mdl-js-ripple-effect.mdl-menu__item#profile_button
            a.mdl-navigation__link(href='#profile')
              i.material-icons account_box
              |  Profile
          li.mdl-js-ripple-effect.mdl-menu__item#signin_button
            a.mdl-navigation__link(href='#login')
              i.material-icons lock
              |  Sign-In
          li.mdl-js-ripple-effect.mdl-menu__item.hidden#logout_button
            a.mdl-navigation__link(href='#login')
              i.material-icons person_add
              |  Logout

      main.mdl-layout__content
        //- Loading
        section#loading-spinner.hidden
          #spinner.mdl-progress.mdl-js-progress.mdl-progress__indeterminate.loader(style='width:auto;')

        //- List Index
        section#index.mdl-grid.mdl-cell--12-col.mdl-tabs__panel.mdl-layout__tab-panel.is-active(role='heading', aria-level='1')
          h1.mdl-subheader-content Connect 
            i physical Objects 
            br/
            | to 
            i timeseries database
          #hof.mdl-cell--12-col.carousel
            #hof-container.content
              article.carousel-item.mdl-shadow--2dp
                p Objects (any device, sensors, chipsets, devices...) collect data from Sensors and POST them to t6 using the encrypted + signed payload.
                a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href="/docs") Explore t6 documentation
              article.carousel-item.mdl-shadow--2dp
                p Do any actions you need, once facts match conditions (Email, Mqtt, webhook notification...) &mdash; rule based events.
                a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href="/docs") Explore t6 documentation

            div.mdl-grid.mdl-cell--12-col
              h2 How does t6 works?
              .row.features-small.mdl-cell--12-col.mt-3.wow.fadeIn
                .mdl-cell--4-col
                  .row
                    .col-2
                      i.material-icons done_all
                    .col-10
                      h6.feature-title Free for personal and commercial use
                      p Open-source licence GNU General Public
                      div(style='height:15px')
                  .row
                    .col-2
                      i.material-icons done_all
                    .col-10
                      h6.feature-title Manage your Devices/Objects
                      p Keep an eye on all single Object you own
                      div(style='height:15px')
                  .row
                    .col-2
                      i.material-icons done_all
                    .col-10
                      h6.feature-title Fully responsive UI
                      p t6 will be displayed on desktop, laptop, tablet or mobile phone. Looks great on each screen.
                      div(style='height:15px')
                  .row
                    .col-2
                      i.material-icons done_all
                    .col-10
                      h6.feature-title Google Play mobile application
                      p Mobile application is using the same UI as Desktop.
                      div(style='height:15px')
                .mdl-cell--4-col.flex-center
                  img.z-depth-0.img-responsive(src=baseUrlCdn + '/img/m/t6-play-screenshots0-sm.png', alt='t6: Connect physical Objects to timeseries database')
                .mdl-cell--4-col
                  .row
                    .col-2
                      i.material-icons done_all
                    .col-10
                      h6.feature-title Store your virtual Objects and devices 
                      p t6 is ready to manage a collection of Objects including your custom attributes, Object location and Security parameters.
                      div(style='height:15px')
                  .row
                    .col-2
                      i.material-icons done_all
                    .col-10
                      h6.feature-title Symmetric signature and cryptography
                      p Data coming from your Object can be signed + encrypted so that we can trust your data.
                      div(style='height:15px')
                  .row
                    .col-2
                      i.material-icons done_all
                    .col-10
                      h6.feature-title Over The Air (OTA) Arduino installation
                      p Control Source on your devices from OTA build and deploy process.
                      div(style='height:15px')
                  .row
                    .col-2
                      i.material-icons done_all
                    .col-10
                      h6.feature-title Trigger actions from Rules
                      p Custom decision rules allows to trigger various actio based on data events, su cha as email, mqtt message, or any custom webhook.
                      div(style='height:15px')

              h2 More features to connect your devices:
          .page-content.mdl-grid.mdl-grid--no-spacing
            span.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active.md-48(style='left:calc(50% - 44px);margin:30px 0px 50px 30px;') 
          footer
            ul
              li IoT platform
                ul
                  li
                  li
                  li
                    a(href="https://play.google.com/store/apps/details?id=info.internetcollaboratif.api&utm_source=badge&utm_campaign=badge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1") Google Play Application
              li IoT Api
                ul
                  li
                    a(href="/#status") Api Status
                  li
                    a(href="/#docs") Developer
                  li
                    a(href="/docs") Api Explorer
                  li
              li About t6
                ul
                  li
                    a(href="/#compatible-devices") Compatible Devices
                  li
                    a(href="/#terms") Privacy and Terms
            div
              img(src="/img/icon.png", style="background: #fff;", alt="Logo t6")

        //- Use cases
        section#use-cases.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content IoT application and Use cases
          .page-content.mdl-grid.mdl-grid--no-spacing

            div.mdl-grid.mdl-cell.mdl-cell--stretch
              div.mdl-card.mdl-shadow--2dp
                div.mdl-card__title
                  h3.mdl-card__title-text Smart City
                div.mdl-card__supporting-text.mdl-card--expand t6 ease IoT sensors & actuators deployment within the city. Data are stored on t6 and trigger actions to prevent traffic congestion, road lighting, car park management, safety and so on.

            div.mdl-grid.mdl-cell.mdl-cell--stretch
              div.mdl-card.mdl-shadow--2dp
                div.mdl-card__title
                  h3.mdl-card__title-text Smart Home
                div.mdl-card__supporting-text.mdl-card--expand Turn on/off light depending on the time of the day or any other conditions.

            div.mdl-grid.mdl-cell.mdl-cell--stretch
              div.mdl-card.mdl-shadow--2dp
                div.mdl-card__title
                  h3.mdl-card__title-text Smart Energy
                div.mdl-card__supporting-text.mdl-card--expand Control thermostats on the rooms; monitor power consumption and so on ...

            div.mdl-grid.mdl-cell.mdl-cell--stretch
              div.mdl-card.mdl-shadow--2dp
                div.mdl-card__title
                  h3.mdl-card__title-text Smart Fleet
                div.mdl-card__supporting-text.mdl-card--expand Deploy Over the Air (OTA). t6 is ready to deliver to any of your Objects using a simple Api. The code is spread to all compatible Objects.

            div.mdl-grid.mdl-cell.mdl-cell--stretch
              div.mdl-card.mdl-shadow--2dp
                div.mdl-card__title
                  h3.mdl-card__title-text Smart Data
                div.mdl-card__supporting-text.mdl-card--expand t6 embed customizabel dashboards and can trigger action based on multi-criteria events to alert you for any relevant information. 

        //- View Sign In
        section#login.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Sign In to t6
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- View Sign Up
        section#signup.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Sign Up to t6
          .page-content.mdl-grid.mdl-grid--no-spacing
            section.content-grid.mdl-grid
              div.mdl-layout-spacer
              form.signup
                .mdl-card.mdl-card__title.mdl-shadow--2dp
                  img(src=baseUrlCdn + '/img/opl_img.webp', alt='t6 Connect your Objects', aria-hidden='true') 
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      i.material-icons.mdl-textfield__icon email
                      input.mdl-textfield__input(type='text', name='email', id='signup.email', inputmode='email', autocomplete='username email', pattern='[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?')
                      label.mdl-textfield__label(for='signup.email') Email/Username
                      span.mdl-textfield__error Username is your email address, so should looks like an email address. :-)
                    .half.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      i.material-icons.mdl-textfield__icon face 
                      input.mdl-textfield__input(type='text', id='signup.firstName', name='firstName', pattern='.{2,}')
                      label.mdl-textfield__label(for='signup.firstName') First Name
                      span.mdl-textfield__error It is optional, but if any, it should be longer than 1 character.
                    .half.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      input.mdl-textfield__input(type='text', id='signup.lastName', name='lastName', pattern='.{2,}')
                      label.mdl-textfield__label(for='signup.lastName') Last Name
                      span.mdl-textfield__error It is optional, but if any, it should be longer than 1 character.
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='signup.terms')
                        input.mdl-checkbox__input(type='checkbox', id='signup.terms', name='terms', pattern='true')
                        span.mdl-checkbox__label I agree the 
                          a(href='/#terms', target='_blank') Terms & Condition 
                          | and I will manage my preferences related to privacy policy in a step forward.
                  .mdl-card__supporting-text.mdl-grid
                    span.mdl-layout-spacer
                    button.createUser.mdl-button.mdl-js-button.mdl-js-ripple-effect
                      i.material-icons person_add
                      | Sign Up
                  .mdl-card__actions.mdl-card--border
                    a.mdl-button.small(onclick="app.setSection('login');", href="#login")
                      | Sign In
                    | &nbsp;or&nbsp;
                    a.mdl-button.small(onclick="app.setSection('forgot-password');", href="#forgot-password")
                      | Reset password
              div.mdl-layout-spacer

        //- Manage Notifications
        section#manage_notifications.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Manage Notifications
          .page-content.mdl-grid.mdl-grid--no-spacing
            section.content-grid.mdl-grid
              div.mdl-layout-spacer
              form.notifications
                .mdl-card.mdl-card__title.mdl-shadow--2dp
                  img(src=baseUrlCdn + '/img/opl_img.webp', alt='t6 Connect your Objects', aria-hidden='true') 
                  .mdl-card__title Manage your Email notification & subscriptions.
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='notifications.reminder')
                        input.mdl-checkbox__input(checked, type='checkbox', id='notifications.reminder', name='reminder')
                        span.mdl-checkbox__label(style='position: absolute;') Reminder email. This notification will be sent only once, the week after your subscription.
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='notifications.changePassword')
                        input.mdl-checkbox__input(checked, type='checkbox', id='notifications.changePassword', name='changePassword')
                        span.mdl-checkbox__label(style='position: absolute;') Notification to remind you to change your password regularly.
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='notifications.newsletter')
                        input.mdl-checkbox__input(checked, type='checkbox', id='notifications.newsletter', name='newsletter')
                        span.mdl-checkbox__label(style='position: absolute;') t6 Newsletters. Newsletter about t6 only are sent once or maybe twice a year!
                  .mdl-card__actions.mdl-card--border
                    a.mdl-button.small(onclick="app.setSection('login');", href="#login")
                      | Skip this step
                    | (I will do it later)
              div.mdl-layout-spacer

        section#forgot-password.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Forgot Password
          .page-content.mdl-grid.mdl-grid--no-spacing
            section.content-grid.mdl-grid
              div.mdl-layout-spacer
              form.forgotpassword
                .mdl-card.mdl-card__title.mdl-shadow--2dp
                  img(src=baseUrlCdn + '/img/opl_img.webp', alt='t6 Connect your Objects', aria-hidden='true') 
                  .mdl-card__title Enter your Email address below and we'll send you password reset instructions securely.
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      i.material-icons.mdl-textfield__icon email
                      input.mdl-textfield__input(type='text', name='email', id='forgotpassword.email', inputmode='email', autocomplete='email', pattern='[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?')
                      label.mdl-textfield__label(for='forgotpassword.email') Email/Username
                      span.mdl-textfield__error Username should be your email address
                  .mdl-card__supporting-text.mdl-grid
                    span.mdl-layout-spacer
                    button.forgotPassword.mdl-button.mdl-js-button.mdl-js-ripple-effect
                      i.material-icons book
                      | Get instructions
                  .mdl-card__actions.mdl-card--border
                    a.mdl-button.small(onclick="app.setSection('signup');", href="#signup")
                      | Sign Up
                    | &nbsp;or&nbsp;
                    a.mdl-button.small(onclick="app.setSection('login');", href="#login")
                      | Sign In
              div.mdl-layout-spacer

        section#reset-password.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Set Password
          .page-content.mdl-grid.mdl-grid--no-spacing
            section.content-grid.mdl-grid
              div.mdl-layout-spacer
              form.resetpassword
                input.mdl-textfield__input(type='hidden', name='username', autocomplete='username email', value='')
                .mdl-card.mdl-card__title.mdl-shadow--2dp
                  img(src=baseUrlCdn + '/img/opl_img.webp', alt='t6 Connect your Objects', aria-hidden='true') 
                  .mdl-card__title Set you new password to connect your t6 account.
                  .mdl-card__title Password must contains lower cases, upper cases, digits, special characters; and must be longer than 8 characters.
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      i.material-icons.mdl-textfield__icon lock
                      input.mdl-textfield__input.passmatch#p1(type='password', name='password', autocomplete='new-password', pattern='^(?=.{8,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[!@#$&*]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$')
                      label.mdl-textfield__label(for='p1') Password
                      span.mdl-textfield__error Password is not strong enough
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      i.material-icons.mdl-textfield__icon lock
                      input.mdl-textfield__input.passmatch#p2(type='password', name='password2', autocomplete='new-password')
                      label.mdl-textfield__label(for='p2') Password Verification
                      span.mdl-textfield__error Password does not match
                  .mdl-card__supporting-text.mdl-grid
                    span.mdl-layout-spacer
                    button.setPassword.mdl-button.mdl-js-button.mdl-js-ripple-effect
                      i.material-icons lock_open
                      | Reset my password
                  .mdl-card__actions.mdl-card--border
                    | &nbsp;or&nbsp;
                    a.mdl-button.small(onclick="app.setSection('login');", href="#login")
                      | Sign In
              div.mdl-layout-spacer

        //- Docs
        section#docs.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Api first documentation: Live, eat, and breathe the API-first lifestyle of t6.

          .page-content.mdl-grid.mdl-grid--no-spacing
            section.mdl-grid.mdl-cell--12-col
              div.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                div.mdl-card__title
                  i.material-icons code
                  h3.mdl-card__title-text Physical World
                div.mdl-card__supporting-text.no-padding Physical World are composed by your sensors and actuators. Physical Objects require a virtual Object in t6 and then, they could add Data to Flows. Sample nodeMCU and Arduino scripts are available in the 
                  a(href='//github.com/mathcoll/t6/tree/master/sensors', target='_blank', rel='noopener') sensors repositories.
                div.mdl-card__supporting-text.no-padding An additional script can be  runned periodically (crontab rule necessary) and performe the required action from the settings:
                  br/
                  span.code $> nodejs sensor.js --run "{{sensor_id}}" > /dev/null 2>&1
                div.mdl-card__supporting-text.no-padding This kind of Virtual sensors are capable of getting direct data from a linux bash command (e.g. Getting HDD temperature: '/usr/sbin/hddtemp -u C -n -q /dev/sda')
                div.mdl-card__supporting-text.no-padding Physical Objects require a "virtual" Object declared on t6 before adding DataPoints to Flows. Meaning a Flow container help the Api to find your data and graph them on the Snippets.
                  
            section.mdl-grid.mdl-cell--12-col
              div.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                div.mdl-card__title
                  i.material-icons code
                  h3.mdl-card__title-text Technical documentation
                div.mdl-card__supporting-text.no-padding 
                  | Api first in a Rest api ; including security (JWT tokens) and quotas. It contains dedicated endpoint to easily manipulate your resources: Objects, Flows, Dashboards, Snippets & Rules.
                  p
                    a.mdl-button.mdl-js-button(href="/docs", target='_blank', rel='noopener') Explore the full Api documentation
                      i.material-icons chevron_right

            section.mdl-grid.mdl-cell--12-col
              div.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                div.mdl-card__title
                  i.material-icons code
                  h3.mdl-card__title-text Resources available on t6
                div.mdl-card__supporting-text.no-padding 
                  ol.mdl-list(style="margin:0;padding:0px;line-height:24px;")
                    li.mdl-list__item-primary-content
                      div
                        i.material-icons.md-24 devices_other
                        h4 Objects, sensors and actuators
                        div Objects are virtual items dedicated to push data to flows. Objects are defined for each Users.
                        div Objects in t6 are the virtual nodes of your physical devices. They are sending values from their embedded sensors to the Flows. Common cardinality is 1:1; but you can setup multiple Flows for the same Object (a DHT11 sensor handle 'temperature' and 'humidity' for instance). Additionally, you can set a Flow to be feed from multiple Objects.
                        a.mdl-button.mdl-js-button(href="https://github.com/mathcoll/t6/wiki/Object") More details
                      div.mdl-layout-spacer &nbsp;

                    li.mdl-list__item-primary-content
                      div
                        i.material-icons.md-24 settings_input_component
                        h4 Flows & DataPoints
                        div Flows are datastore to save time/values (DataPoints). Each Object can POST data to multiple Flows. Flows are defined for each Users and are having permissions.
                        div Communication becomes easy in the platform with Timestamped values. Flows allows to retrieve and classify data.
                        div Objects are sending their Data to Flow-containers using the API.
                        a.mdl-button.mdl-js-button(href="https://github.com/mathcoll/t6/wiki/Flow") More details
                      div.mdl-layout-spacer &nbsp;

                    li.mdl-list__item-primary-content
                      div
                        i.material-icons.md-24 dashboard
                        h4 Dashboards to graph, draw, and monitor
                        div Dashboard includes one or many Snippets to visualize your data. You can create as many dashboards as you like.
                        a.mdl-button.mdl-js-button(href="https://github.com/mathcoll/t6/wiki/Dashboard") More details
                      div.mdl-layout-spacer &nbsp;

                    li.mdl-list__item-primary-content
                      div
                        i.material-icons.md-24 widgets
                        h4 Snippets
                        div Snippets refers to small component containing a dashboard. Multiple variety are available and the library aim to growth regularly.
                        a.mdl-button.mdl-js-button(href="https://github.com/mathcoll/t6/wiki/Snippet") More details
                      div.mdl-layout-spacer &nbsp;

                    li.mdl-list__item-primary-content
                      div
                        i.material-icons.md-24 call_split
                        h4 Rules, to Alert and Notify
                        div Decision-Rule is the event-based engine that trigger Actions following matching Conditions. Engine is watching for fact matching conditions on payloads coming from datapoint POST, and handle Action(s) according to rules.
                        a.mdl-button.mdl-js-button(href="https://github.com/mathcoll/t6/wiki/Decision-Rule") More details
                      div.mdl-layout-spacer &nbsp;

                    li.mdl-list__item-primary-content
                      div
                        i.material-icons.md-24 volume_down
                        h4 Mqtt, to communicate
                        div 
                        a.mdl-button.mdl-js-button(href="https://github.com/mathcoll/t6/wiki/Mqtt-Topic") More details
                      div.mdl-layout-spacer &nbsp;

            section.mdl-grid.mdl-cell--12-col
              div.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                div.mdl-card__title
                  i.material-icons code
                  h3.mdl-card__title-text General Structure and scenario
                div.mdl-card__supporting-text.no-padding 
                  img.lazyloading.img-responsive(src=baseUrlCdn+"/img/m/placeholder.png", data-src="//raw.githubusercontent.com/mathcoll/t6/master/docs/t6-General-structure.png", alt="t6 General structure")

            section.mdl-grid.mdl-cell--12-col
              div.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                div.mdl-card__title
                  i.material-icons code
                  h3.mdl-card__title-text Technical documentation
                div.mdl-card__supporting-text.no-padding 
                  | Api first in a Rest api ; including security (JWT tokens) and quotas. It contains dedicated endpoint to easily manipulate your resources: Objects, Flows, Dashboards, Snippets & Rules.
                  p
                    a.mdl-button.mdl-js-button(href="/docs", target='_blank', rel='noopener') Explore the full Api documentation
                      i.material-icons chevron_right

        //- View users-list
        section#users-list.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Users
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- Modal Dialog
        dialog#dialog.mdl-dialog
          h3.mdl-dialog__title -
          .mdl-dialog__content -
          .mdl-dialog__actions.mdl-card__actions.mdl-card--border -

      .menu__overlay
      .toast__container

      svg.footer(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320")
        path(fill='#795548', fill-opacity='1', d='M0,256L6.2,224C12.3,192,25,128,37,106.7C49.2,85,62,107,74,106.7C86.2,107,98,85,111,101.3C123.1,117,135,171,148,181.3C160,192,172,160,185,149.3C196.9,139,209,149,222,154.7C233.8,160,246,160,258,186.7C270.8,213,283,267,295,288C307.7,309,320,299,332,261.3C344.6,224,357,160,369,117.3C381.5,75,394,53,406,58.7C418.5,64,431,96,443,112C455.4,128,468,128,480,128C492.3,128,505,128,517,112C529.2,96,542,64,554,74.7C566.2,85,578,139,591,138.7C603.1,139,615,85,628,90.7C640,96,652,160,665,202.7C676.9,245,689,267,702,234.7C713.8,203,726,117,738,74.7C750.8,32,763,32,775,69.3C787.7,107,800,181,812,208C824.6,235,837,213,849,202.7C861.5,192,874,192,886,197.3C898.5,203,911,213,923,224C935.4,235,948,245,960,213.3C972.3,181,985,107,997,101.3C1009.2,96,1022,160,1034,160C1046.2,160,1058,96,1071,101.3C1083.1,107,1095,181,1108,197.3C1120,213,1132,171,1145,133.3C1156.9,96,1169,64,1182,80C1193.8,96,1206,160,1218,170.7C1230.8,181,1243,139,1255,112C1267.7,85,1280,75,1292,106.7C1304.6,139,1317,213,1329,245.3C1341.5,277,1354,267,1366,266.7C1378.5,267,1391,277,1403,288C1415.4,299,1428,309,1434,314.7L1440,320L1440,320L1433.8,320C1427.7,320,1415,320,1403,320C1390.8,320,1378,320,1366,320C1353.8,320,1342,320,1329,320C1316.9,320,1305,320,1292,320C1280,320,1268,320,1255,320C1243.1,320,1231,320,1218,320C1206.2,320,1194,320,1182,320C1169.2,320,1157,320,1145,320C1132.3,320,1120,320,1108,320C1095.4,320,1083,320,1071,320C1058.5,320,1046,320,1034,320C1021.5,320,1009,320,997,320C984.6,320,972,320,960,320C947.7,320,935,320,923,320C910.8,320,898,320,886,320C873.8,320,862,320,849,320C836.9,320,825,320,812,320C800,320,788,320,775,320C763.1,320,751,320,738,320C726.2,320,714,320,702,320C689.2,320,677,320,665,320C652.3,320,640,320,628,320C615.4,320,603,320,591,320C578.5,320,566,320,554,320C541.5,320,529,320,517,320C504.6,320,492,320,480,320C467.7,320,455,320,443,320C430.8,320,418,320,406,320C393.8,320,382,320,369,320C356.9,320,345,320,332,320C320,320,308,320,295,320C283.1,320,271,320,258,320C246.2,320,234,320,222,320C209.2,320,197,320,185,320C172.3,320,160,320,148,320C135.4,320,123,320,111,320C98.5,320,86,320,74,320C61.5,320,49,320,37,320C24.6,320,12,320,6,320L0,320Z')

      #cookieconsent.mdl-card__actions.mdl-card--border.hidden
        #cookieconsent_wrapper
          h4#cookieconsent_header This website uses cookies
          span This website uses cookies to improve user experience. By using our website you consent to all cookies in accordance with our Cookie Policy. 
          span#cookieconsent_readmore
            a(href='/#terms', id='cookieconsent.read').mdl-button Read more
            | .
          br
          #cookieconsent_buttons
            #cookieconsent_noGTM.mdl-button
              a(href='#', id='cookieconsent.noGTM') Deny Marketing cookies 
            #cookieconsent_accept.mdl-button
              a(href='#', id='cookieconsent.agree') Got it!

      if process.env.NODE_ENV === 'development'
        //- VENDOR
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/material/material.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/mdl/mdl-selectfield.min.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/moment/moment.min-2.24.0.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/OpenLayers/ol-4.6.5.min.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/Chart/Chart-min-2.9.3.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/Leaflet/leaflet-min-1.6.0.js')
        //- T6
        script(type='application/javascript', src=baseUrlCdn + '/js/t6app-main.js?build=' + t6BuildVersion)
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-objects.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-flows.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-snippets.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-dashboards.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-mqtts.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-rules.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-sources.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/valueDisplay.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/graphDisplay.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/flowGraph.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/simpleClock.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/simpleRow.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/cardChart.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/sparkline.js')
      else
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor.min.js?build=' + t6BuildVersion)
        script(type='application/javascript', src=baseUrlCdn + '/js/t6app-min.js?build=' + t6BuildVersion)
      if trackings.ggads
        script(src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async='')
        script.
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "#{trackings.ggads}",
            enable_page_level_ads: true
          });