doctype html
html.ltr(lang='en', data-api-version=version, data-baseUrlCdn=baseUrlCdn, t6BuildVersion=t6BuildVersion)
  head
    if process.env.NODE_ENV === 'development'
      title DEV t6 IoT
    else
      title t6 IoT api and mobile Application: connect physical world to your api and collect data.
    meta(charset='utf-8')
    meta(name='fragment', content='#')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='Description' content='t6 IoT api and mobile Application: connect physical world to your api and collect data.')
    meta(name='apple-mobile-web-app-title', content='t6 IoT App')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='msapplication-TileImage', content=baseUrlCdn + '/img/m/icons/mstile-150x150.png')
    meta(name='msapplication-TileColor', content='#795548')
    meta(name='theme-color', content='#ffffff')
    link(rel='apple-touch-startup-image', href=baseUrlCdn + '/img/m/splash/launch-640x1136.png', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
    link(rel='apple-touch-icon', sizes="180x180", href=baseUrlCdn + '/img/m/icons/icon-180x180.png')
    link(rel='icon', type="image/png", sizes='32x32', href=baseUrlCdn + '/img/m/icons/icon-32x32.png')
    link(rel='icon', type="image/png", sizes='16x16', href=baseUrlCdn + '/img/m/icons/icon-16x16.png')
    link(rel='mask-icon', color="#795548", href=baseUrlCdn + '/img/m/icons/safari-pinned-tab.svg')
    if process.env.NODE_ENV === 'development'
      link(rel='stylesheet', href=baseUrlCdn + '/css/vendor/material/material.brown-blue.min-1.3.0.css', type='text/css', data-integrity='', data-crossorigin='anonymous')
      link(rel='stylesheet', href=baseUrlCdn + '/css/t6app.css', type='text/css', data-integrity='', data-crossorigin='anonymous')
      link(rel="stylesheet", href="/css/vendor/Leaflet/leaflet-1.7.1.css")
    else
      link(rel='stylesheet', href=baseUrlCdn + '/css/t6app.min.css', type='text/css', data-integrity='', data-crossorigin='anonymous')
    link(rel='manifest', href='/manifest.json')
    link(rel='preload' href=baseUrlCdn + '/fonts/Material-Icons.woff2' as="font" type="font/woff2" crossorigin)
    //- Search Engine
    meta(name='image', content=baseUrlCdn + '/img/repository-open-graph.jpg')
    meta(property='og:url', content=baseUrl_https)
    //- Schema.org for Google
    meta(itemprop='name', content='t6 IoT')
    meta(itemprop='description', content='t6 IoT api and mobile Application: connect physical world to your api and collect data.')
    meta(itemprop='image', content=baseUrlCdn + '/img/repository-open-graph.jpg')
    //- Mobile App for iOS & Android
    //- Twitter
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@mathcoll')
    meta(name='twitter:creator', content='@mathcoll')
    meta(name='twitter:title', content='t6 IoT')
    meta(name='twitter:text:title', content='t6 IoT')
    meta(name='twitter:image', content=baseUrlCdn + '/img/repository-open-graph.jpg')
    meta(name='twitter:image:alt', content='t6 IoT, connect physical Objects to timeseries.')
    meta(name='twitter:description', content='t6 IoT api and mobile Application: connect physical world to your api and collect data.')
    //- Twitter - Mobile App (iOS & Android)
    //- Open Graph general (Facebook, Pinterest & Google+)
    meta(name='og:title', content='t6 IoT')
    meta(name='og:description', content='t6 IoT api and mobile Application: connect physical world to your api and collect data.')
    meta(name='og:type', content='website')
    meta(property='og:image:type', content='image/jpeg')
    if trackings.googleSigninClientId
      meta(name="google-signin-client_id", content=""+trackings.googleSigninClientId)
  body
    script
      | if (localStorage.getItem("settings.debug") == "true") { var startTime = new Date(); }
    if trackings.gtm
      noscript
        iframe(src="//www.googletagmanager.com/ns.html?id="+trackings.gtm, height="0", width="0", style="display:none;visibility:hidden")

    if trackings.firebaseConfig.firebaseJsVersion
      script(src="//www.gstatic.com/firebasejs/"+trackings.firebaseConfig.firebaseJsVersion+"/firebase-app.js")
      script(src="//www.gstatic.com/firebasejs/"+trackings.firebaseConfig.firebaseJsVersion+"/firebase-analytics.js")
      script(src="//www.gstatic.com/firebasejs/"+trackings.firebaseConfig.firebaseJsVersion+"/firebase-messaging.js")
      script(src="//www.gstatic.com/firebasejs/"+trackings.firebaseConfig.firebaseJsVersion+"/firebase-remote-config.js")
      script.
        let s = undefined;
        if((new RegExp("[?&]s(=([^&#]*)|&|#|$)").exec(window.location.href))!==null) { s = decodeURIComponent( (new RegExp("[?&]s(=([^&#]*)|&|#|$)").exec(window.location.href))[2] ); }
        let isTWA = ( s==="twa" || window.matchMedia('(display-mode: standalone)').matches || (window.navigator.standalone) || document.referrer.includes('android-app://')) ;
        var firebaseConfig = isTWA===false?!{JSON.stringify(trackings.firebaseConfig.web)}:!{JSON.stringify(trackings.firebaseConfig.android)};
    
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-layout__header--waterfall.mdl-layout__header--waterfall-hide-top
        .mdl-layout__header-row
          h1.page_title t6 IoT App
          .mdl-layout-spacer

          nav.mdl-navigation
            button#notification.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
              i.material-icons priority_high
                
          //-nav.mdl-navigation
            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
              label.mdl-button.mdl-js-button.mdl-button--icon(for='search-exp')
                i.material-icons search
              .mdl-textfield__expandable-holder
                form
                  input#search-exp.mdl-textfield__input(type='text', name='q', placeholder='Search')

            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
              label.mdl-button.mdl-js-button.mdl-button--icon(for='filter-exp')
                i.material-icons tune
              .mdl-textfield__expandable-holder
                form
                  input#filter-exp.mdl-textfield__input(type='text', name='name', placeholder='Filter by name')

          nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link.statusButton(href='/#status')
              i.material-icons favorite
              |  API Status
            a.mdl-navigation__link.docsButton(href='/#docs')
              i.material-icons code
              |  API first
            a.mdl-navigation__link.termsButton(href='/#terms')
              i.material-icons business_center
              |  Privacy & Terms
            a.mdl-navigation__link(href='//github.com/mathcoll/t6', target='_blank', rel='noopener')
              i.material-icons link
              |  GitHub

          nav.mdl-navigation
            button#menu.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
              i.material-icons more_vert

        .mdl-layout-spacer

        // Tabs
        .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-js-tabs
          a.mdl-navigation__link.mdl-layout__tab(href='/#objects', for='objects')
            i.material-icons devices_other
            |  Objects
          a.mdl-navigation__link.mdl-layout__tab(href='/#flows', for='flows')
            i.material-icons settings_input_component
            |  Flows
          a.mdl-navigation__link.mdl-layout__tab(href='/#exploration', for='exploration')
            i.material-icons explore
            |  Data Exploration&nbsp;
            .mdl-chip.verysmall(style='background: #f0f0f0;font-size: .5em;padding: 10px 3px;height: 20px;line-height: 0px;')
              | beta
          a.mdl-navigation__link.mdl-layout__tab(href='/#dashboards', for='dashboards')
            i.material-icons dashboard
            |  Dashboards
          a.mdl-navigation__link.mdl-layout__tab(href='/#snippets', for='snippets')
            i.material-icons widgets
            |  Snippets
          a.mdl-navigation__link.mdl-layout__tab(href='/#rules', for='rules')
            i.material-icons call_split
            |  Decision Rules
          a.mdl-navigation__link.mdl-layout__tab(href='/#sources', for='sources')
            i.arduino-icon.build  
            |  Sources
          a.mdl-navigation__link.mdl-layout__tab(href='/#stories', for='stories')
            i.material-icons play_arrow  
            |  Stories&nbsp;
            .mdl-chip.verysmall(style='background: #f0f0f0;font-size: .5em;padding: 10px 3px;height: 20px;line-height: 0px;')
              | beta

      #drawer.mdl-layout__drawer
        div.side-nav__header#currentUserBackground
          img#currentUserHeader(src="", alt="Current user avatar")
          div#currentUserName.mdl-layout-title 
          div#currentUserEmail.mdl-layout-subheader
        nav.mdl-navigation.menu__list
          a.mdl-navigation__link(href='/#index')
            i.material-icons home
            |  Index
          a.mdl-navigation__link(href='/#objects')
            i.material-icons devices_other
            |  Objects
          a.mdl-navigation__link(href='/#flows')
            i.material-icons settings_input_component
            |  Flows
          a.mdl-navigation__link(href='/#exploration')
            i.material-icons explore
            |  Data Exploration&nbsp;
            .mdl-chip.verysmall(style='background: #f0f0f0;font-size: .5em;padding: 10px 3px;height: 20px;line-height: 0px;')
              | beta
          a.mdl-navigation__link(href='/#dashboards')
            i.material-icons dashboard
            |  Dashboards
          a.mdl-navigation__link(href='/#snippets')
            i.material-icons widgets
            |  Snippets
          a.mdl-navigation__link(href='/#rules')
            i.material-icons call_split
            |  Decision Rules
          a.mdl-navigation__link(href='/#sources')
            i.arduino-icon.build  
            |  Sources
          a.mdl-navigation__link(href='/#stories')
            i.material-icons play_arrow  
            |  Stories&nbsp;
            .mdl-chip.verysmall(style='background: #f0f0f0;font-size: .5em;padding: 10px 3px;height: 20px;line-height: 0px;')
              | beta
          span.mdl-menu__item--full-bleed-divider 
          a.mdl-navigation__link(href='/#settings')
            i.material-icons settings
            |  Settings
          a.mdl-navigation__link(href='/#openSourceLicenses')
            i.material-icons book
            |  Open-source Licenses
          a.mdl-navigation__link(href='/news/#news')
            i.material-icons event_note
            |  Newsletters Archives

      .setting_menu
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='menu')
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only.featuresButton
            a.mdl-navigation__link(href='/#features')
              i.material-icons fact_check
              |  t6 Features
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only.statusButton
            a.mdl-navigation__link(href='/#status')
              i.material-icons favorite
              |  API Status
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only.docsButton
            a.mdl-navigation__link(href='/#docs')
              i.material-icons code
              |  API first
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only.termsButton
            a.mdl-navigation__link(href='/#terms')
              i.material-icons business_center
              |  Privacy & Terms
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only
            a.mdl-navigation__link(href='//github.com/mathcoll/t6', target='_blank', rel='noopener')
              i.material-icons launch
              |  GitHub
          li.mdl-js-ripple-effect.mdl-menu__item.settingsButton
            a.mdl-navigation__link(href='/#settings')
              i.material-icons settings
              |  Settings
          li.mdl-js-ripple-effect.mdl-menu__item#profile_button
            a.mdl-navigation__link(href='/#profile')
              i.material-icons account_box
              |  Profile
          li.mdl-js-ripple-effect.mdl-menu__item#signin_button
            a.mdl-navigation__link(href='/#login')
              i.material-icons lock
              |  Sign-In
          li.mdl-js-ripple-effect.mdl-menu__item.hidden#logout_button
            a.mdl-navigation__link(href='/#login')
              i.material-icons work_off
              |  Logout

      main.mdl-layout__content
        //- Loading
        section#loading-spinner.sticky.hidden
          #spinner.mdl-progress.mdl-js-progress.mdl-progress__indeterminate.loader(style='width:auto;')

        //- News
        section#news.mdl-tabs__panel.mdl-layout__tab-panel.is-active
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content t6 Newsletters
            each articlenews in articles
              article.mdl-grid.mdl-cell--12-col
                div.mdl-card.mdl-shadow--2dp
                  div.mdl-card__title
                    i.material-icons event_note
                    h3.mdl-card__title-text #{articlenews.title}
                  div.mdl-list__item--three-line.small-padding.mdl-card--expand
                    div.mdl-list__item-sub-title= moment(articlenews.date).format('DD/MM/YYYY')
                    a.btn(href="/news/"+ articlenews.f, target="article") Read article

      if process.env.NODE_ENV === 'development'
        //- VENDOR
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/material/material-1.3.0.min.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/mdl/mdl-selectfield.min.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/moment/moment-2.29.1.min.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/OpenLayers/ol-6.12.0.min.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/Chart/Chart-3.7.1-min.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor/Leaflet/leaflet-1.7.1.min.js')
        //- T6
        script(type='application/javascript', src=baseUrlCdn + '/js/t6app-main.js?build=' + t6BuildVersion)
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-objects.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-flows.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-snippets.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-dashboards.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-mqtts.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-rules.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-sources.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/t6-stories.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/valueDisplay.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/graphDisplay.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/flowGraph.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/simpleClock.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/simpleRow.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/cardChart.js')
        script(type='application/javascript', src=baseUrlCdn + '/js/resources/snippets/sparkline.js')
      else
        script(type='application/javascript', src=baseUrlCdn + '/js/vendor.min.js?build=' + t6BuildVersion)
        script(type='application/javascript', src=baseUrlCdn + '/js/t6app-min.js?build=' + t6BuildVersion)
      if trackings.ggads
        script(src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async='')
        script.
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "#{trackings.ggads}",
            enable_page_level_ads: true
          });
