doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade
    .container
      .starter-template
        h2 Object&nbsp;
          strong #{object.name}

    .container
      .col-sm-8
        div
          dl.dl-horizontal
            dt Id:
            dd
              span.label.label-warning #{object.id}

            dt Name:
            dd #{object.name}
            
            dt Description:
            dd !{nl2br(object.description)}
            
            dt Type:
            dd
              span.label.label-default #{object.type}
            
            -if (object.position)
              dt Position/Location:
              dd
                span.label.label-primary #{object.position}
            -end
            
            -if (object.ipv4)
              dt Ip v4:
              dd
                span.label.label-danger #{object.ipv4}
            -end
            
            -if (object.ipv6)
              dt Ip v6:
              dd
                span.label.label-danger #{object.ipv6}
            -end

      .col-sm-4
        div.sidebar-module-inset
          h3 Contextual Links
          div
            a.btn.btn-primary.btn-sm(href='./#{object.id}/edit')
              span.glyphicon.glyphicon-pencil  Edit Object
            | &nbsp;
            a.btn.btn-danger.btn-sm(href='./#{object.id}/remove', onclick="if(confirm('Are you sure to remove #{object.name} ?')) {return true;}; return false;")
              span.glyphicon.glyphicon-remove  Remove
            p &nbsp; 

          div
            a(href="#") All '#{object.type}' Objects
          
          div
            a(href="#") All Objects located in '#{object.position}' 
        p &nbsp; 

    include ./includes/foot.jade

