doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade
    .container
      .starter-template
        h2 Object&nbsp;
          strong #{object.name}

    .container
      .col-sm-8
        div
          dl.dl-horizontal
            dt Id:
            dd
              span.label.label-warning #{object.id}

            dt Name:
            dd #{object.name}
            
            dt Description:
            dd !{nl2br(object.description)}
            
            dt Type:
            dd
              span.label.label-default #{object.type}
            
            -if (object.position)
              dt Position/Location:
              dd
                span.label.label-primary #{object.position}
            -end
            
            -if (object.ipv4)
              dt Ip v4:
              dd
                span.label.label-danger #{object.ipv4}
            -end
            
            -if (object.ipv6)
              dt Ip v6:
              dd
                span.label.label-danger #{object.ipv6}
            -end
        
      .col-sm-4
        div.sidebar-module-inset
          p &nbsp;
          div.text-center
            - if (object.type == 'rooter')
              - var style = ""
            - else if (object.type == 'sensor')
              - var style = "glyphicon glyphicon-tint"
            - else if (object.type == 'computer')
              - var style = "fa fa-desktop"
            - else if (object.type == 'laptop')
              - var style = "fa fa-laptop"
            - else if (object.type == 'desktop')
              - var style = "fa fa-desktop"
            - else if (object.type == 'phone')
              - var style = "glyphicon glyphicon-earphone"
            - else if (object.type == 'smartphone')
              - var style = "glyphicon glyphicon-phone"
            - else if (object.type == 'nodemcu')
              - var style = "fa fa-shield"
            - else if (object.type == 'tablet')
              - var style = "fa fa-tablet"
            - else if (object.type == 'server')
              - var style = "glyphicon glyphicon-tasks"
            - else if (object.type == 'printer')
              - var style = "glyphicon glyphicon-print"
            - end
            div.glyphicon.glyphicon-pencil(style="font-size:94px;", class="#{style}")
            p &nbsp; 

          div
            a(href="#") All '#{object.type}' Objects
            p &nbsp; 
          
          div
            a.btn.btn-primary.btn-sm(href='./#{object.id}/edit')
              span.glyphicon.glyphicon-pencil  Edit Object
            | &nbsp;
            a.btn.btn-danger.btn-sm(href='./#{object.id}/remove', onclick="if(confirm('Are you sure to remove #{object.name} ?')) {return true;}; return false;")
              span.glyphicon.glyphicon-remove  Remove

          - if (object.position)
            div
              a(href="#") All Objects located in '#{object.position}'
          - end
        p &nbsp; 


    include ./includes/foot.jade

