doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .container-fluid
      .row.side-body
        .col-sm-12
          h2.fa.fa-2x.fa-cube &nbsp;Add Object to your library

        if (message && message.type == 'danger' && message.value)
        .col-sm-12(class='alert alert-#{message.type}')#add

          div.sidebar-module-inset
            if (message && message.type && message.value)
              div.alert(class='alert-#{message.type}', role='alert') #{message.value}

            form(action="/objects/add#add", method="post")
              .form-group
                label.control-label(for="name") Object Name:
                  span.mandatory *
                span.input-group
                  span.input-group-addon
                    span.fa.fa-cubes
                  input.form-control(type="text", name="name", placeholder="Object Name", id="name", value=new_object.name)

              .form-group
                label.control-label(for="Type") Type:
                  span.mandatory *
                span.input-group
                  span.input-group-addon
                    span.glyphicon.glyphicon-tags
                  select.form-control(type="text", name="type", id="type")
                    option(value='') Please select a type
                    - for(type in types) {
                      if (new_object.type == types[type])
                        option(value='#{types[type]}' selected) #{types[type]}
                      else
                        option(value='#{types[type]}') #{types[type]}
                    - }

              .form-group
                label.control-label(for="Position") Position/Location:
                span.input-group
                  span.input-group-addon
                    span.fa.fa-bullseye
                  input.form-control(type="text", name="position", placeholder="Object position (living, dressing, etc)", id="Position", value=new_object.position)

              .form-group
                label.control-label(for="Longitude") Longitude:
                span.input-group
                  span.input-group-addon
                    span.glyphicon.glyphicon-map-marker
                  input.form-control(type="text", name="longitude", placeholder="Longitude", id="Longitude", value=new_object.longitude)

              .form-group
                label.control-label(for="Latitude") Latitude:
                span.input-group
                  span.input-group-addon
                    span.glyphicon.glyphicon-map-marker
                  input.form-control(type="text", name="latitude", placeholder="Latitude", id="Latitude", value=new_object.latitude)

              .form-group
                label.control-label(for="Ipv4") Ip v4:
                span.input-group
                  span.input-group-addon
                    span.glyphicon IP
                  input.form-control(type="text", name="ipv4", placeholder="Ip v4: 192.168.0.1", id="Ipv4", value=new_object.ipv4)
              
              .form-group
                label.control-label(for="Ipv6") Ip v6:
                span.input-group
                  span.input-group-addon
                    span.glyphicon IP
                  input.form-control(type="text", name="ipv6", placeholder="Ip v6", id="Ipv6", value=new_object.ipv6)

              .form-group
                label.control-label(for="Description") Description:
                span.input-group
                  span.input-group-addon
                    span.fa.fa-pencil-square-o
                  textarea.form-control.vresize(name="description", placeholder="Object description", id="Description")= new_object.description

              .form-group
                label.control-label is Public:
                br/
                input(type='radio', name='isPublic', value='true', id='isPublic', checked=(new_object.isPublic=='true' ? "checked" : undefined))
                label.control-label(for="isPublic") &nbsp;Yes
                | &nbsp;&nbsp;
                input(type='radio', name='isPublic', value='false', id='isNotPublic', checked=(new_object.isPublic=='false' ? "checked" : undefined))
                label.control-label(for="isNotPublic") &nbsp;No

              .form-group
                button.btn.btn-primary.m-t.pull-right
                  span.fa.fa-plus  Add Object
              
              p &nbsp;

    include ./includes/foot.jade

