doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade
    .container
      .starter-template
        h2 Object&nbsp;
          strong #{object.name}

    .container
      .col-sm-8
        div
          dl.dl-horizontal
            dt Name:
            dd #{object.name}
            
            dt Description:
            dd #{object.description}
            
            dt Type:
            dd #{object.type}
            
            dt Position/Location:
            dd #{object.position}
            
            -if (object.ipv4)
              dt Ip v4:
              dd
                span.label.label-danger #{object.ipv4}
            -end
            
            -if (object.ipv6)
              dt Ip v6:
              dd
                span.label.label-danger #{object.ipv6}
            -end

      .col-sm-4
        div.sidebar-module-inset
          h3 Contextual Links
          div.col-sm-
            a.btn.btn-primary.btn-sm.pull-right(href='./#{object.id}/edit')
              span.glyphicon.glyphicon-pencil  Edit
              
          div.col-sm-
            a.btn.btn-danger.btn-sm.pull-right(href='./#{object.id}/remove', onclick="if(confirm('Are you sure to remove #{object.name} ?')) {return true;}; return false;")
              span.glyphicon.glyphicon-remove  Remove

          div.col-sm-
            a(href="#") Other '#{object.type}' Objects
          
          div.col-sm-
            a(href="#") Objects in the same location '#{object.position}' 
        p &nbsp; 

    include ./includes/foot.jade

