doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .-o-container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-user  Profile of #{user.firstName} #{user.lastName}

      .row.side-body
        .col-xs-12
          ul.accordion#accordion
            li.list-unstyled
              .iamgurdeep-pic
                img.img-responsive.center-block(alt='#{user.firstName} #{user.lastName}', src='//www.gravatar.com/avatar/#{user.mail_hash}?s=240&d=mm&r=g')
                .edit-pic
                  - if ( gravatar && gravatar.entry[0].ims )
                    - for ( i in (gravatar.entry[0].ims) )
                      - var im = (gravatar.entry[0].ims)[i]
                      - var icon = ''
                      - var href = ''
                      - if ( im.type == 'skype' )
                        - icon = 'fa-skype'
                        - href = 'skype:'+im.value+'?call'
                      - end
                      - if ( im.type == 'yahoo' )
                        - icon = 'fa-yahoo'
                        - href = 'yahoo:'+im.value
                      - end
                      - if ( im.type == 'gtalk' )
                        - icon = 'fa-google'
                        - href = 'xmpp:'+im.value
                      - end
                      - if ( im.type == 'icq' )
                        - icon = 'fa-icq'
                        - href = 'http://'+im.value
                      - end
                      a.fa(href='#{href}', target='_blank', class="#{icon}")
                    - end
                  - end

                  - if ( gravatar && gravatar.entry[0].accounts )
                    - for ( i in (gravatar.entry[0].accounts) )
                      - var account = (gravatar.entry[0].accounts)[i]
                      - var icon = ''
                      - if ( account.shortname == 'facebook' )
                        - icon = 'fa-facebook-square'
                      - end
                      - if ( account.shortname == 'twitter' )
                        - icon = 'fa-twitter-square'
                      - end
                      - if ( account.shortname == 'linkedin' )
                        - icon = 'fa-linkedin-square'
                      - end
                      - if ( account.shortname == 'google' )
                        - icon = 'fa-google-plus-square'
                      - end
                      - if ( account.shortname == 'facebook' )
                        - icon = 'fa-facebook-square'
                      - end
                      - if ( account.shortname == 'youtube' )
                        - icon = 'fa-youtube-square'
                      - end
                      - if ( account.shortname == 'pinterest' )
                        - icon = 'fa-pinterest-square'
                      - end
                      a.fa(href='#{account.url}', target='_blank', class="#{icon}")
                    - end
                  - end

                .username
                  h2
                    | #{user.firstName} #{user.lastName}
                    small
                      i.fa.fa-map-marker
                      -if (gravatar)
                        |  #{gravatar.entry[0].currentLocation}
                      -end
                  p
                    i.fa.fa-briefcase
                    |  #{user.role}
                  a.btn-o(href='//www.gravatar.com', target='_blank')
                    span.fa.fa-edit  Modify On Gravatar

            li.list-unstyled
              .link
                i.fa.fa-globe
                | About
              ul.submenu.list-unstyled
                li
                  a(href='mailto:#{user.email}') Email:  #{user.email}
                - if ( gravatar && gravatar.entry[0].phoneNumbers )
                  - for ( i in (gravatar.entry[0].phoneNumbers) )
                    - var phone = (gravatar.entry[0].phoneNumbers)[i]
                    li
                      a(href='#', title="#{phone.type}") #{phone.type}: #{phone.value}
                  - end
                - end
                - if ( gravatar && gravatar.entry[0].urls )
                  - for ( i in gravatar.entry[0].urls )
                    - var url = gravatar.entry[0].urls[i]
                    li
                      a(href='#{url.value}', target='_blank') #{url.title}
                  - end
                - end
                - if ( gravatar && gravatar.entry[0].currency )
                  - for ( i in gravatar.entry[0].currency )
                    - var curr = gravatar.entry[0].currency[i]
                    li
                      a(href='#', title="#{curr.type}") #{curr.value}
                  - end
                - end

      .row.side-body
        p  

      .row.side-body
        .col-lg-8.col-sm-6
          //.panel.panel-default
            //.panel-body
          h3#objects.list-group User Statistics
            #accordion.panel-group(role='tablist', aria-multiselectable='true')
              .panel.panel-default
                #headingObjects.panel-heading(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseObjects', aria-expanded='false', aria-controls='collapseObjects')
                      span.fa.fa-cubes
                      |  #{objects} Objects
                    a.fa.fa-plus.pull-right(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseObjects', aria-expanded='false', aria-controls='collapseObjects')
                #collapseObjects.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingObjects')
                  .panel-body
                    |  &ndash;
                    small  Your shelves is containing #{objects}/#{quota.objects} 
                      a(href='/objects') Objects
                      | .
                    div.progress
                      - var percent = Math.round((objects*100/quota.objects)*100) /100
                      - var style = "success"
                      - if (percent > 60)
                        - style = "warning"
                      - end
                      - if (percent > 85)
                        - style = "danger"
                      - end
                      div.progress-bar.progress-bar-striped.active(data-toggle='tooltip', data-placement='top', title='#{percent}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{objects}", aria-valuemin="0", aria-valuemax="#{quota.objects}", style="width: #{percent}%")

                #headingFlows.panel-heading(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFlows', aria-expanded='false', aria-controls='collapseFlows')
                      span.fa.fa-random
                      |  #{flows} Flows
                    a.fa.fa-plus.pull-right(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFlows', aria-expanded='false', aria-controls='collapseFlows')
                #collapseFlows.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFlows')
                  .panel-body
                    |  &ndash;
                    small  Your shelves is containing #{flows}/#{quota.flows} 
                      a(href='/flows') Flows
                      | .
                    div.progress
                      - var percent = Math.round((flows*100/quota.flows)*100) /100
                      - var style = "success"
                      - if (percent > 60)
                        - style = "warning"
                      - end
                      - if (percent > 85)
                        - style = "danger"
                      - end
                      div.progress-bar.progress-bar-striped.active(data-toggle='tooltip', data-placement='top', title='#{percent}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{flows}", aria-valuemin="0", aria-valuemax="#{quota.flows}", style="width: #{percent}%")

                #headingSnippets.panel-heading(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSnippets', aria-expanded='false', aria-controls='collapseSnippets')
                      span.fa.fa-puzzle-piece
                      |  #{snippets} Snippets
                    a.fa.fa-plus.pull-right(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSnippets', aria-expanded='false', aria-controls='collapseSnippets')
                #collapseSnippets.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSnippets')
                  .panel-body
                    |  &ndash;
                    small  Your shelves is containing #{snippets}/#{quota.snippets} 
                      a(href='/snippets') Snippets
                      | .
                    div.progress
                      - var percent = Math.round((snippets*100/quota.snippets)*100) /100
                      - var style = "success"
                      - if (percent > 60)
                        - style = "warning"
                      - end
                      - if (percent > 85)
                        - style = "danger"
                      - end
                      div.progress-bar.progress-bar-striped.active(data-toggle='tooltip', data-placement='top', title='#{percent}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{snippets}", aria-valuemin="0", aria-valuemax="#{quota.snippets}", style="width: #{percent}%")
 
                #headingDashboards.panel-heading(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseDashboards', aria-expanded='false', aria-controls='collapseDashboards')
                      span.fa.fa-area-chart
                      |  #{dashboards} Dashboards
                    a.fa.fa-plus.pull-right(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseDashboards', aria-expanded='false', aria-controls='collapseDashboards')
                #collapseDashboards.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingDashboards')
                  .panel-body
                    |  &ndash;
                    small  Your shelves is containing #{dashboards}/#{quota.dashboards} 
                      a(href='/dashboards') Dashboards
                      | .
                    div.progress
                      - var percent = Math.round((dashboards*100/quota.dashboards)*100) /100
                      - var style = "success"
                      - if (percent > 60)
                        - style = "warning"
                      - end
                      - if (percent > 85)
                        - style = "danger"
                      - end
                      div.progress-bar.progress-bar-striped.active(data-toggle='tooltip', data-placement='top', title='#{percent}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{dashboards}", aria-valuemin="0", aria-valuemax="#{quota.dashboards}", style="width: #{percent}%")
                                        
                #headingRules.panel-heading(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseRules', aria-expanded='false', aria-controls='collapseRules')
                      span.fa.fa-filter
                      |  #{rules} Rules
                    a.fa.fa-plus.pull-right(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseRules', aria-expanded='false', aria-controls='collapseRules')
                #collapseRules.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingRules')
                  .panel-body
                    |  &ndash;
                    small  Your shelves is containing #{rules}/#{quota.rules} 
                      a(href='/decision-rules') Rules
                      | .
                    div.progress
                      - var percent = Math.round((rules*100/quota.rules)*100) /100
                      - var style = "success"
                      - if (percent > 60)
                        - style = "warning"
                      - end
                      - if (percent > 85)
                        - style = "danger"
                      - end
                      div.progress-bar.progress-bar-striped.active(data-toggle='tooltip', data-placement='top', title='#{percent}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{rules}", aria-valuemin="0", aria-valuemax="#{quota.rules}", style="width: #{percent}%")

                #headingKeys.panel-heading(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseKeys', aria-expanded='false', aria-controls='collapseKeys')
                      span.fa.fa-flash
                      |  #{tokens.length}  API Keys
                    a.fa.fa-plus.pull-right(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseKeys', aria-expanded='false', aria-controls='collapseKeys')
                #collapseKeys.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingKeys')
                  .panel-body
                    |  &ndash;
                    small  You have set up #{tokens.length} 
                      a(href='/keys') Keys
                      |  out of #{quota.tokens}.
                    div.progress
                      - var percent = Math.round((tokens.length*100/quota.tokens)*100) /100
                      - var style = "success"
                      - if (percent > 60)
                        - style = "warning"
                      - end
                      - if (percent > 85)
                        - style = "danger"
                      - end
                      div.progress-bar.progress-bar-striped.active(data-toggle='tooltip', data-placement='top', title='#{percent}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{tokens}", aria-valuemin="0", aria-valuemax="#{quota.tokens}", style="width: #{percent}%")
                  
                #headingCalls.panel-heading(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseCalls', aria-expanded='true', aria-controls='collapseCalls')
                      span.fa.fa-flash
                      |  #{calls} API calls
                    a.fa.fa-plus.pull-right(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseCalls', aria-expanded='true', aria-controls='collapseCalls')
                #collapseCalls.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingCalls')
                  .panel-body
                    |  &ndash;
                    small  You have consumed #{calls}/#{quota.calls} API calls in the past 7 days.
                    div.progress
                      - var percent = Math.round((calls*100/quota.calls)*100) /100
                      - var style = "success"
                      - if (percent > 60)
                        - style = "warning"
                      - end
                      - if (percent > 85)
                        - style = "danger"
                      - end
                      div.progress-bar.progress-bar-striped.active(data-toggle='tooltip', data-placement='top', title='#{percent}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{calls}", aria-valuemin="0", aria-valuemax="#{quota.calls}", style="width: #{percent}%")

        .col-lg-4.col-sm-12
          //.panel.panel-default
            //.panel-body
          h3#objects.list-group Last Data inserted
          include ./includes/data_item_list.jade
          include ./includes/data_item_list.jade
          include ./includes/data_item_list.jade
          include ./includes/data_item_list.jade
          include ./includes/data_item_list.jade

    include ./includes/foot.jade