doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade
    .container
      .starter-template
        h2 Profile of #{user.firstName} #{user.lastName}

      .col-sm-4
        .panel.panel-default
          .panel-body
            img.img-responsive.img-thumbnail.center-block(src='http://www.gravatar.com/avatar/#{user.mail_hash}?s=240&d=mm&r=g', alt='Profile Image')
            a.center-block.btn.btn-primary.btn-xm(href="http://www.gravatar.com", role="button") 
              span.glyphicon.glyphicon-picture  Modify On Gravatar
            h3 General Information
            ul.profile-details
              li.media
                span
                  i.glyphicon.glyphicon-user
                  |  First-Name:
                i(style='font-size: 18px;')  #{user.firstName}
              li.media
                span
                  i.glyphicon.glyphicon-user
                  |  Last-Name:
                i(style='font-size: 18px;')  #{user.lastName}
              li.media
                span
                  i.fa.fa-briefcase
                  |  Plan Type:
                i(style='font-size: 18px;')  #{user.role}

            h3 Contact Information
            ul.profile-details
              li.media
                span
                  i.fa.fa-envelope
                  |  E-mail:
                i(style='font-size: 18px;')  #{user.email}
                
              button.btn.btn-simple.fa.fa-facebook-square(href="")
              | &nbsp;

              button.btn.btn-simple.fa.fa-twitter-square(href="")
              | &nbsp;

              button.btn.btn-simple.fa.fa-google-plus-square(href="")
              | &nbsp;

          .panel-footer
            button.btn.btn-primary.m-t.pull-right
              span.glyphicon.glyphicon-pencil  Edit
            p &nbsp;

      .col-sm-8
        .panel.panel-default
          .panel-body
            h3#objects.list-group User Statistics
              #accordion.panel-group(role='tablist', aria-multiselectable='true')
                .panel.panel-default
                  #headingOne.panel-heading(role='tab')
                    h4.panel-title
                      a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                        span.glyphicon.glyphicon-inbox
                        |  #{objects} Objects
                  #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                    .panel-body
                      |  &ndash;
                      small  ? max Objects

                  #headingTwo.panel-heading(role='tab')
                    h4.panel-title
                      a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                        span.glyphicon.glyphicon-random
                        |  #{flows} Flows
                  #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                    .panel-body
                      |  &ndash;
                      small  ? max Flows

                  #headingThree.panel-heading(role='tab')
                    h4.panel-title
                      a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                        span.glyphicon.glyphicon-random
                        |  #{tokens.length}  API Keys
                  #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                    .panel-body
                      small
                        ul
                          - for(token in tokens) {
                            if (tokens[token].key && tokens[token].key)
                              li K/S #{tokens[token].secret}/#{tokens[token].secret}
                            else
                              li Bearer #{tokens[token].token}
                            if tokens[token].expiration
                              div (Exp.: #{tokens[token].expiration})
                            if tokens[token].permissions
                              div Permissions:
                              - for(p in tokens[token].permissions) {
                                a(title='/flows/#{(tokens[token].permissions)[p].flow_id}') #{(tokens[token].permissions)[p].permission}, 
                              - }
                            
                          - }
                      
                  #headingFour.panel-heading(role='tab')
                    h4.panel-title
                      a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                        span.glyphicon.glyphicon-random
                        |  ? API calls in the past 7 days
                  #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
                    .panel-body
                      |  &ndash;
                      small  ? max API calls

      .col-sm-8
        .panel.panel-default
          .panel-body
            h3#objects.list-group Last Data inserted
            include ./includes/data_item_list.jade
            include ./includes/data_item_list.jade
            include ./includes/data_item_list.jade
            include ./includes/data_item_list.jade
            include ./includes/data_item_list.jade

    include ./includes/foot.jade

