doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade
    
    .container
      .starter-template
        - if (q)
            h2.glyphicon.glyphicon-search  Search Results for "#{q}"
        - else
            h2.glyphicon.glyphicon-search  Search Results

    .container#objects
      .col-sm-8
        h3 #{objects.length} Objects found
        .list-group
        - if (objects.length)
          - for(object in objects) {
            include ./includes/object_item_list.jade
          - }
        - else
            .list-group-item
              .alert.alert-danger.alert-dismissible(role='alert')
                p No Result in Objects
      
      .col-sm-4
        div
          h3 Search Results
          ul
            li
              a(href="#objects") #{objects.length} Objects
            li
              a(href="#flows") #{flows.length} Flows

    .container#flows
      .col-sm-8
        h3 #{flows.length} Flows found
        .list-group
        - if (flows.length)
          - for(flow in flows) {
            include ./includes/flow_item_list.jade
          - }
        - else
            .list-group-item
              .alert.alert-danger.alert-dismissible(role='alert')
                p No Result in Flows

    include ./includes/foot.jade

