doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade
    
    .container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
        - if (q)
            h2.fa.fa-2x.fa-search  Search Results for "#{q}"
        - else
            h2.fa.fa-2x.fa-search  Search Results

    .container-fluid
      .row.side-body
        div
          ul
            li
              a(href="#objects") #{objects.length} Object(s)
            li
              a(href="#flows") #{flows.length} Flow(s)
            li
              a(href="#snippets") #{snippets.length} Snippet(s)
            li
              a(href="#dashboards") #{dashboards.length} Dashboard(s)

    .container-fluid#objects
      .row.side-body
        h3.fa-2x.fa.fa-cubes  #{objects.length} Object(s) found
        
        include ./objects/item_header.jade
        .list-group.col-xs-12
          - if (objects.length)
            - for(object in objects) {
              include ./objects/item_list.jade
            - }
          - else
            .alert.alert-danger.alert-dismissible(role='alert')
              p No Result in Objects, perhaps you would like to create an 
                a(href="/objects/add") Object
                | .
          
    .container-fluid#flows
      .row.side-body
        .col-sm-12 &nbsp;
        h3.fa-2x.fa.fa-random  #{flows.length} Flows(s) found

        include ./flows/item_header.jade
        .list-group.col-xs-12
          - if (flows.length)
            - for(flow in flows) {
              include ./flows/item_list.jade
            - }
          - else
            .alert.alert-danger.alert-dismissible(role='alert')
              p No Result in Flows, perhaps you would like to create a 
                a(href="/flows/add") Flow
                | .
          
    .container-fluid#snippets
      .row.side-body
        .col-sm-12 &nbsp;
        h3.fa-2x.fa.fa-puzzle-piece  #{snippets.length} Snippets(s) found

        include ./snippets/item_header.jade
        .list-group.col-xs-12
          - if (snippets.length)
            - for(snippet in snippets) {
              include ./snippets/item_list.jade
            - }
          - else
            .alert.alert-danger.alert-dismissible(role='alert')
              p No Result in Snippets, perhaps you would like to create a 
                a(href="/snippets") Snippet
                | .
          
    .container-fluid#dashboards
      .row.side-body
        .col-sm-12 &nbsp;
        h3.fa-2x.fa.fa-area-chart  #{dashboards.length} Dashboard(s) found
        
        include ./dashboards/item_header.jade
        .list-group.col-xs-12
          - if (dashboards.length)
            - for(dashboard in dashboards) {
              include ./dashboards/item_list.jade
            - }
          - else
            .alert.alert-danger.alert-dismissible(role='alert')
              p No Result in Dashboards, perhaps you would like to create a 
                a(href="/dashboards") Dashboards
                | .
          
    .container-fluid
      .row.side-body
        .col-sm-12 &nbsp;

    .container &nbsp;

    include ./includes/foot.jade