doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade
    
    .container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
        - if (q)
            h2.fa.fa-2x.fa-search  Search Results for "#{q}"
        - else
            h2.fa.fa-2x.fa-search  Search Results

    .container-fluid
      .row.side-body
        div
          h3 Search Results
          ul
            li
              a(href="#objects") #{objects.length} Objects
            li
              a(href="#flows") #{flows.length} Flows
            li
              a(href="#snippets") #{snippets.length} Snippets
            li
              a(href="#dashboards") #{dashboards.length} Dashboards

    .container-fluid#objects
      .row.side-body
        h3.fa.fa-cubes  #{objects.length} Objects found
      .row.side-body.hidden-xs.table-header
        span.col-sm-4
          strong Name/Description
        span.col-sm-4
          strong Id
        span.col-sm-4
          strong Position
        span.col-sm-4
          strong Localisation
        
      .row.side-body
        .list-group
        - if (objects.length)
          - for(object in objects) {
            include ./includes/object_item_list.jade
          - }
        - else
            .list-group-item
              .alert.alert-danger.alert-dismissible(role='alert')
                p No Result in Objects, perhaps you would like to create an 
                  a(href="/objects/add") Object
                  | .

    .container-fluid#flows
      .row.side-body
        h3.fa.fa-random  #{flows.length} Flows found
      .row.side-body.hidden-xs.table-header
        span.col-sm-4
          strong Name
        span.col-sm-2
          strong ID
        span.col-sm-4
          strong Unit
        span.col-sm-2
          strong Permissions
    
      .row.side-body
        .list-group
        - if (flows.length)
          - for(flow in flows) {
            include ./includes/flow_item_list.jade
          - }
        - else
            .list-group-item
              .alert.alert-danger.alert-dismissible(role='alert')
                p No Result in Flows, perhaps you would like to create a 
                  a(href="/flows/add") Flow
                  | .

    .container-fluid#snippets
      .row.side-body
        h3.fa.fa-puzzle-piece  #{snippets.length} Snippets found
      .row.side-body.hidden-xs.table-header
        span.col-sm-2
          strong Icon/Name/Type
        span.col-sm-10
          strong Color/Flows/Id
    
      .row.side-body
        .list-group
        - if (snippets.length)
          - for(snippet in snippets) {
            include ./includes/snippet_item_list.jade
          - }
        - else
            .list-group-item
              .alert.alert-danger.alert-dismissible(role='alert')
                p No Result in Snippets, perhaps you would like to create a 
                  a(href="/snippets") Snippet
                  | .

    .container-fluid#dashboards
      .row.side-body
        h3.fa.fa-area-chart  #{dashboards.length} Dashboards found
      .row.side-body.hidden-xs.table-header
        span.col-sm-6
          strong Name
        span.col-sm-2
          strong Snippets
        span.col-sm-2
          strong Layout
        span.col-sm-4
          strong Id
    
      .row.side-body
        .list-group
        - if (dashboards.length)
          - for(dashboard in dashboards) {
            include ./includes/dashboard_item_list.jade
          - }
        - else
            .list-group-item
              .alert.alert-danger.alert-dismissible(role='alert')
                p No Result in Dashboards, perhaps you would like to create a 
                  a(href="/dashboards") Dashboards
                  | .

    .container &nbsp;

    include ./includes/foot.jade