- var rnd = Math.floor(Math.random()*1000)
- if ( !graph_layout ) {
  - graph_layout = "12"
- }
- if( !snippet.color ) {
  - snippet.color = '#fff'
- }
- if ( currentUrl.indexOf("snippets") > -1 ) {
  doctype html
  html(lang='en')
    include ../includes/head.jade
- }
    style.
      body { margin: 0; color: #{snippet.color} }
      #body#{rnd} .panel-default > .panel-heading { background-color: #{snippet.p.background}; }
      #body#{rnd} .panel-default > .panel-body { font-size:2em;color:#{snippet.p.background}; }
      #body#{rnd} .panel-default > .panel-footer { background-color: #{snippet.p.background}; }
    link(href='/css/font-awesome/font-awesome.min-4.7.0.css', rel='stylesheet')

- if ( currentUrl.indexOf("snippets") > -1) {
  body
      include ../includes/navbar-on-top.jade
      
      .container-fluid
        .row.starter-template
          a.btn.btn-danger.btn-sm.sweet-5#remove(href='#', data-id='#{snippet.id}', data-name='#{snippet.name}', onclick="return false;")
            span.fa.fa-trash-o  Remove
          | 
          a.btn.btn-primary.btn-sm(href='/snippets/#{snippet.id}/edit')
            span.fa.fa-pencil-square-o  Edit
          | 
- }
 
    li(id="body#{rnd}").list-unstyled.container-fluid.col-sm-12
      .panel.panel-default
        .panel-heading.handle
           h3.panel-title
             span(class="#{snippet.icon}")  
             |  #{snippet.name}
        .panel-body
          #clock
        .panel-footer &nbsp;

  script.
    var clock = function() {
      var d = new Date();
      $('#clock').html(d.toString());
    };
    $(function(){
      setInterval(clock, 1000);
    });

    link(href='#{baseUrlCdn}/css/sweetalert/sweetalert.css', rel='stylesheet')
    script(src='#{baseUrlCdn}/js/sweetalert/sweetalert.js')
    script.
      $('.sweet-5').on('click', function (e) {
        var id = $(this).data("id");
        var name = $(this).data("name");
        swal({
          title: "Are you sure?",
          text: "Are you sure to remove "+name+" ?",
          type: "error",
          showCancelButton: true,
          confirmButtonClass: "btn-danger",
          confirmButtonText: "Yes, remove it!",
          cancelButtonText: "No, cancel",
          closeOnConfirm: false,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {
            document.location.href='/snippets/'+id+'/remove';
          } else {
            //
          }
        });
      });