doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade

    .container-fluid
      .row.side-body.hidden
        .col-sm-12
          h2.fa.fa-2x.fa-puzzle-piece &nbsp;Snippets on shelves&nbsp;
          if (message && message.type && message.value)
            div.alert(class='alert-#{message.type}', role='alert') !{message.value}
        blockquote.fa.fa-comment  Snippets are used to graph data from Flows.

      .row.side-body
        div
          ul.clearfix.pagination
            li.no-padding.active
              span.fa.fa-2x.fa-puzzle-piece(style='border-bottom-left-radius:0;border-bottom-right-radius:0;')  #{snippets_length} Snippets        
                - var percent = Math.round((snippets_length*100/quota.snippets)*100) /100
                - var style = "success"
                - if (percent > 60)
                  - style = "warning"
                - end
                - if (percent > 85)
                  - style = "danger"
                - end
                - if (percent < 1)
                  - percent = 1
                  - percent_txt = '<1'
                - else
                  - percent_txt = percent
                - end
            li.no-padding
              - if( snippets_length < quota.snippets )
                a.fa-2x.btn.btn-success(href="/snippets/add", data-toggle='tooltip', data-placement='right	', title='Add a Snippet')
                  span.fa.fa-plus
              - else
                a.fa-2x.btn.btn-danger(href="/plans", data-toggle='tooltip', data-placement='right', title='Upgrade your plan')
                  span.fa.fa-level-up
              - end
          ul.list-unstyled.no-padding
            li.progress-bar.progress-bar-striped.active(data-toggle='tooltip', data-placement='top', title='#{percent_txt}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{snippets_length}", aria-valuemin="0", aria-valuemax="#{quota.snippets}", style="width: #{percent}%; height: 5px;") &nbsp;

      .row.side-body
        .col-sm-12
          if (snippets.length)
            include ../includes/pagination.jade
            include ./item_header.jade
            .list-group
              - for(snippet in snippets) {
                - if ( !snippets[snippet].icon )
                  - snippets[snippet].icon = "fa fa-puzzle-piece"
                - end
                include ./item_list.jade
              - }
            include ../includes/pagination.jade
          else
            p &nbsp;
            div.alert.alert-warning You don't have any Snippet yet in your shelves. You can add a <a href="/snippets/add">Snippet</a> to graph your Flows

    include ../includes/foot.jade