doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade

    .-o-container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-puzzle-piece &nbsp;Snippets on shelves&nbsp;
          if (message && message.type && message.value)
            div.alert(class='alert-#{message.type}', role='alert') !{message.value}
        blockquote.fa.fa-comment  Snippets are used to graph data from Flows.

      .row.side-body
        .col-xs-12.col-sm-12.col-md-12
          ul.clearfix.pagination
            li.active
              span.fa.fa-3x.fa-puzzle-piece(style='border-bottom-left-radius:0;border-bottom-right-radius:0;')  #{snippets_length} Snippets        
                - var percent = Math.round((snippets_length*100/quota.snippets)*100) /100
                - var style = "success"
                - if (percent > 60)
                  - style = "warning"
                - end
                - if (percent > 85)
                  - style = "danger"
                - end
                - if (percent < 1)
                  - percent = 1
                  - percent_txt = '<1'
                - else
                  - percent_txt = percent
                - end
              p.progress-bar.progress-bar-striped.active(data-toggle='tooltip', data-placement='top', title='#{percent_txt}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{snippets_length}", aria-valuemin="0", aria-valuemax="#{quota.snippets}", style="width: #{percent}%; height: 5px;") &nbsp;

      .row.side-body
        .col-sm-12
          if (snippets.length)
            include ../includes/pagination.jade
            include ./item_header.jade
            .list-group
              - for(snippet in snippets) {
                - if ( !snippets[snippet].icon )
                  - snippets[snippet].icon = "fa fa-puzzle-piece"
                - end
                include ./item_list.jade
              - }
            include ../includes/pagination.jade
          else
            p &nbsp;
            div.alert.alert-warning You don't have any Snippet yet in your shelves. You can add a <a href="/snippets/add">Snippet</a> to graph your Flows

    include ../includes/foot.jade
  link(href='/css/sweetalert/sweetalert.css', rel='stylesheet')
  script(src='/js/sweetalert/sweetalert.js')
  script.
    $('.sweet-5').on('click', function (e) {
      var id = $(this).data("id");
      var name = $(this).data("name");
      swal({
        title: "Are you sure?",
        text: "Are you sure to remove "+name+" ?",
        type: "error",
        showCancelButton: true,
        confirmButtonClass: "btn-danger",
        confirmButtonText: "Yes, remove it!",
        cancelButtonText: "No, cancel",
        closeOnConfirm: false,
        closeOnCancel: true
      },
      function(isConfirm) {
        if (isConfirm) {
          document.location.href='/snippets/'+id+'/remove';
        } else {
          //
        }
      });
    });