- var rnd = Math.floor(Math.random()*1000)
- if ( !graph_layout ) {
  - graph_layout = "12"
- }
- if ( currentUrl.indexOf("snippets") > -1 ) {
  doctype html
  html(lang='en')
    include ../includes/head.jade
- }
- if( !snippet.color ) {
  - snippet.color = '#fff'
- }
    style.
      body { margin: 0; color: #{snippet.color} }
      #body#{rnd} { margin: 0; padding: 0; border-radius: 0.5em; margin: .5em; }
      #body#{rnd} li {margin:0;padding:0;}
      #body#{rnd} h1#title#{rnd} { color: #{snippet.color}; font-size: 3em; margin: .3em 0 .3em 0; }
      #body#{rnd} .icon#icon#{rnd} { color: #{snippet.color}; font-size: 4em; }
      #body#{rnd} .icon#iconBck#{rnd} { color: #{snippet.color}; font-size: 14em; left: 10%; margin: 0; opacity: 0.1; position: absolute; }
      #body#{rnd} .value#value#{rnd} { color: #{snippet.color}; font-size: 3em; margin: .5em 0 0 0; }
      #body#{rnd} .date#date#{rnd} { color: #{snippet.color}; }
      #spark#{rnd} { width:100%; height:8em; }
      #body#{rnd} div div div a.carousel-control { background: none !important; width: 3em !important; padding: 5em 0px !important; }
      #body#{rnd} div div div a.carousel-control span { margin: 100% 0 !important; }
    link(href='/css/font-awesome/font-awesome.min-4.7.0.css', rel='stylesheet')
- if ( currentUrl.indexOf("snippets") > -1) {
  body
    //include ../includes/navbar-minimal.jade
- }
    li.list-unstyled.-o-container-fluid(id="body#{rnd}", style="width:100%;")
      //, class="col-sm-#{graph_layout}"
      .text-center.handle
        #snippetCaroussel
          .carousel-inner
            h1(id="title#{rnd}") #{snippet.name}
            div.fa.icon(id="iconBck#{rnd}")
            div.fa.icon(id="icon#{rnd}")
            div.value(id="value#{rnd}")
              i loading... (#{snippet.p.unit})
            div.date(id="date#{rnd}")
              i ../../....
            div(id="spark#{rnd}")
            button.btn.btn-default.fa.fa-refresh(href="#", style="width:100%;margin:0", id="refresh#{rnd}", disabled)  Refresh

            a.left.carousel-control(href='#')
              span.fa.fa-chevron-left(aria-hidden='true')

            a.right.carousel-control(href='#')
              span.fa.fa-chevron-right(aria-hidden='true')

    script(type='text/javascript', src='/js/sparkline/jquery.sparkline.min.js')
    script.
      var data = new Array();

      $(function () {
        $('.navbar-toggle').click(function () { $('.navbar-nav').toggleClass('slide-in'); $('.side-body').toggleClass('body-slide-in'); });
        $('#refresh#{rnd}').click(function(e) {
          getDataSparkline#{rnd}('/v#{version}/data/', '#{snippet.flows[0]}', 'GET', 'application/json', drawSparkline#{rnd}, 'spark#{rnd}');
          return false;
        });
      });
      
      drawSparkline#{rnd} = function(data, container, flow_id, lastValue, lastDate) {
        theme = {classIcon: "#{snippet.icon}", background: "#{snippet.p.background}", fillColor: "#{snippet.p.fillColor}", lineColor: "#{snippet.p.lineColor}", normalRangeColor: "#{snippet.p.normalRangeColor}"};
        $("h1#title#{rnd}").html('#{snippet.name}');
        $("#value#{rnd}").html(lastValue+'#{snippet.p.unit}');
        $("#icon#{rnd}").addClass(theme.classIcon);
        $("#body#{rnd}").css("background", theme.background);
        $("#date#{rnd}").html(lastDate.getDate()+'/'+(lastDate.getMonth()+1)+'/'+lastDate.getFullYear()+' '+lastDate.getHours()+':'+lastDate.getMinutes());

        $("#"+container).sparkline(data, {
          type: 'line', // line, bar, discrete, pie
          fillColor: theme.fillColor,
          lineColor: theme.lineColor,
          normalRangeColor: theme.normalRangeColor,
          tooltipSuffix: '#{snippet.p.unit}',
          lineWidth: 5,
          spotRadius: 5,
          width: '100%',
          height: '100%',
          highlightLineColor: false,
          highlightSpotColor: undefined,
          highlightLineColor: undefined,
          minSpotColor: undefined,
          maxSpotColor: undefined,
        });
        $('#refresh#{rnd}').prop("disabled", false);
      }

      getDataSparkline#{rnd} = function (base, flow_id, type, CType, callback, container) {
        $('#refresh#{rnd}').prop("disabled", true);
        var limit = 10;
        var page = 1;
        var sort = 'desc';
        $("#"+container).prepend("<div class='fa fa-3x fa-spin fa-refresh center-block'></div>");
        $.ajax({
          url: base+flow_id,
          type: type,
          data: {limit: limit, page: page , sort: sort},
          success: function(d) {
            data[flow_id] = (d.data).map(function(i) {
              return [parseInt(i.attributes.timestamp), parseInt(i.attributes.value)]
            });
            var lastValue = ((d.data)[0].attributes.value);
            var lastDate = ((d.data)[0].attributes.timestamp);
            callback(data[flow_id], container, flow_id, lastValue, new Date(lastDate));
          },
          error: function(d) {
            //console.log('ERROR (d)'+base);
            //console.log(d);
            $("#"+container).html("<div class='alert alert-danger'>Error "+d.status+": "+d.statusText+"</div>");
            $('#refresh#{rnd}').prop("disabled", false);
          }
        });
      } // end getDataSparkline#{rnd}
      
      getDataSparkline#{rnd}('/v#{version}/data/', '#{snippet.flows[0]}', 'GET', 'application/json', drawSparkline#{rnd}, 'spark#{rnd}');