doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='#{baseUrlCdn}css/email.css')
  body
    table.body-wrap
      tr
        td.container
          table
            tr
              td.masthead(align='center')
                h1 Reset your t6 password
            tr
              td.content
                h2 Hi #{user.firstName} #{user.lastName},
                p We're sorry you're having trouble with your password. Please click the link below to reset your password:
                table
                  tr
                    td(align='center')
                      p
                        a.btn.btn-primary(href="#{baseUrl}/account/reset-password/#{token}") Set your password
                p If you did not request to have your password reset, please ignore this message.
                p If you want to give your feedback on t6, do not hesitate to contact me by email.
                p Thanks.
                p
                  em – Mathieu from t6
      tr
        td.container
          table
            tr
              td.content.footer(align='center')
                p
                  | Sent by 
                  a(href='#{baseUrl}') t6 from internetcollaboratif.info
                p
                  a(href='mailto:mathieu@internetcollaboratif.info') mathieu@internetcollaboratif.info
