doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='#{baseUrlCdn}/css/email.css')
  body
    table.body-wrap
      tr
        td.container
          table
            tr
              td.masthead(align='center')
                h1 Your t6 account is ready
            tr
              td.content
                h2 Hi #{user.firstName} #{user.lastName},
                p Welcome to t6, the IoT platform to manage your Objects and Data.
                p Your account have successfully been created on t6 IoT platform. The next step is to set your password so that you can create Flows (and optionally Objects) and then, times to store your Data.
                p Additionally, you can customize your own Snippets and Dashboards to see your Data live.
                p Please click the link below to set your password:
                table
                  tr
                    td(align='center')
                      p
                        a.btn.btn-primary(href="#{baseUrl}/account/reset-password/#{token}") Reset your t6 Account password

                p Thank you, and see you soon on t6.
                p
                  em – Mathieu from t6
      tr
        td.container
          table
            tr
              td.content.footer(align='center')
                p
                  | Sent by 
                  a(href='#{baseUrl}') t6 from internetcollaboratif.info
                p
                  a(href='mailto:mathieu@internetcollaboratif.info') mathieu@internetcollaboratif.info
