doctype html
html.ltr(lang='en')
  head
    title t6 IoT App
    //-var baseUrlCdn=""

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='t6 IoT App')
    meta(name='msapplication-TileImage', content='#{baseUrl_https}/img/m/icons/icon-144x144.png')
    meta(name='msapplication-TileColor', content='#795548')
    meta(name='theme-color', content='#795548')
    
    link(rel='stylesheet', href='#{baseUrl_https}/css/m/inline.css', type='text/css')
    link(rel='stylesheet', href='#{baseUrl_https}/css/m/material.brown-blue.min-1.3.0.css', type='text/css')
    link(rel='stylesheet', href='#{baseUrl_https}/css/m/icon.css')
    link(rel='stylesheet', href='#{baseUrl_https}/css/OpenLayers/ol-4.1.1.min.css', type='text/css')
    link(rel='manifest', href='/manifest.json')
    link(rel='apple-touch-icon', href='#{baseUrl_https}/img/m/icons/icon-152x152.png')
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-layout__header--waterfall.mdl-layout__header--waterfall-hide-top
        .mdl-layout__header-row
          span.page_title t6 IoT App
          .mdl-layout-spacer

          nav.mdl-navigation
            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
              label.mdl-button.mdl-js-button.mdl-button--icon(for='search-exp')
                i.material-icons search
              .mdl-textfield__expandable-holder
                form
                  input#search-exp.mdl-textfield__input(type='text', name='q', placeholder='Search')

            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
              label.mdl-button.mdl-js-button.mdl-button--icon(for='filter-exp')
                i.material-icons tune
              .mdl-textfield__expandable-holder
                form
                  input#filter-exp.mdl-textfield__input(type='text', name='name', placeholder='Filter by name')

          nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link(href='/status', target='_blank', rel='noopener')
              i.material-icons favorite
              |  API Status
            a.mdl-navigation__link(href='/docs', target='_blank', rel='noopener')
              i.material-icons code
              |  API Documentation
            a.mdl-navigation__link(href='https://github.com/mathcoll/t6', target='_blank', rel='noopener')
              i.material-icons link
              |  GitHub

          nav.mdl-navigation
            button#menu.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
              i.material-icons more_vert

        .mdl-layout-spacer

        // Tabs
        .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-js-tabs
          a.mdl-navigation__link.mdl-layout__tab(href='#objects', for='objects')
            i.material-icons devices_other
            |  Objects
          a.mdl-navigation__link.mdl-layout__tab(href='#flows', for='flows')
            i.material-icons settings_input_component
            |  Flows
          a.mdl-navigation__link.mdl-layout__tab(href='#dashboards', for='dashboards')
            i.material-icons dashboard
            |  Dashboards
          a.mdl-navigation__link.mdl-layout__tab(href='#snippets', for='snippets')
            i.material-icons widgets
            |  Snippets
          a.mdl-navigation__link.mdl-layout__tab(href='#rules', for='rules')
            i.material-icons call_split
            |  Decision Rules
          a.mdl-navigation__link.mdl-layout__tab(href='#mqtts', for='mqtts')
            i.material-icons volume_down
            |  Mqtt Topics

      #drawer.mdl-layout__drawer
        div.side-nav__header(style="height: 176px; position: relative; width: 100%; background: #795548 url(#{baseUrl_https}/img/m/side-nav-bg.jpg) repeat scroll 0 0 / cover ;")
          img#currentUserHeader(src="", style="border-radius: 50%;padding: 20px 10px 10px 10px")
          div#currentUserName.mdl-layout-title(style="bottom:auto !important;") 
          div#currentUserEmail.mdl-layout-subheader(style="color: #ffffff;") 
        nav.mdl-navigation.menu__list
          a.mdl-navigation__link(href='#index')
            i.material-icons home
            |  Index
          a.mdl-navigation__link(href='#objects')
            i.material-icons devices_other
            |  Objects
          a.mdl-navigation__link(href='#flows')
            i.material-icons settings_input_component
            |  Flows
          a.mdl-navigation__link(href='#dashboards')
            i.material-icons dashboard
            |  Dashboards
          a.mdl-navigation__link(href='#snippets')
            i.material-icons widgets
            |  Snippets
          a.mdl-navigation__link(href='#rules')
            i.material-icons call_split
            |  Decision Rules
          a.mdl-navigation__link(href='#mqtts')
            i.material-icons volume_down
            |  Mqtt Topics

      .setting_menu
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='menu')
          li.mdl-js-ripple-effect.mdl-menu__item#settings_button(href='#settings')
            i  
            | Settings
          li.mdl-js-ripple-effect.mdl-menu__item#profile_button(href='#profile')
            i  
            | Profile
          li.mdl-js-ripple-effect.mdl-menu__item#signin_button(href='#loginForm')
            i  
            | Sign-In
          li.mdl-js-ripple-effect.mdl-menu__item.hidden#logout_button(href='#loginForm')
            i  
            | Logout

      main.mdl-layout__content
        //- Loading
        section#loading-spinner.hidden
          #spinner.mdl-progress.mdl-js-progress.mdl-progress__indeterminate.loader(style='width:auto;')


        //- List Index
        section#index.mdl-tabs__panel.mdl-layout__tab-panel.is-active
          .md-primary.md-subheader._md.md-altTheme-theme(role='heading', aria-level='2')
            .md-subheader-inner
              .mdl-subheader-content
                span.ng-scope How does t6 works?
          .page-content
  
        //- List Objects
        section#objects.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content
          
          //- Actions
          .mdl-button--fab_flinger-container
            button#createObject.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
              i.material-icons add
          

        //- View Object
        section#object.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content

  
        //- Edit Object
        section#object_edit.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content

  
        //- Add Object
        section#object_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .md-primary.md-subheader._md.md-altTheme-theme(role='heading', aria-level='2')
            .md-subheader-inner
              .mdl-subheader-content
                span.ng-scope Add Object
          .page-content
              

        //- List Flows
        section#flows.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content
          
          //- Actions
          .mdl-button--fab_flinger-container
            button#createFlow.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
              i.material-icons add


        //- View Flow
        section#flow.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content 

  
        //- Edit Flow
        section#flow_edit.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content

  
        //- Add Flow
        section#flow_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .md-primary.md-subheader._md.md-altTheme-theme(role='heading', aria-level='2')
            .md-subheader-inner
              .mdl-subheader-content
                span.ng-scope Add Flow
          .page-content


        //- List Snippets
        section#snippets.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content
          
          //- Actions
          .mdl-button--fab_flinger-container
            button#createSnippet.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
              i.material-icons add

        //- View Snippet
        section#snippet.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content

  
        //- Edit Snippet
        section#snippet_edit.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content

  
        //- Add Snippet
        section#snippet_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .md-primary.md-subheader._md.md-altTheme-theme(role='heading', aria-level='2')
            .md-subheader-inner
              .mdl-subheader-content
                span.ng-scope Add Snippet
          .page-content

            
        //- List Dashboards
        section#dashboards.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content 
          
          //- Actions
          .mdl-button--fab_flinger-container
            button#createDashboard.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
              i.material-icons add

        //- View Dashboard
        section#dashboard.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content 

  
        //- Edit Dashboard
        section#dashboard_edit.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content

  
        //- Add Dashboard
        section#dashboard_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .md-primary.md-subheader._md.md-altTheme-theme(role='heading', aria-level='2')
            .md-subheader-inner
              .mdl-subheader-content
                span.ng-scope Add Dashboard
          .page-content


        //- List Rules
        section#rules.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content 
          
          //- Actions
          .mdl-button--fab_flinger-container
            button#createRule.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
              i.material-icons add


        //- Edit Rules
        section#rule_edit.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content

  
        //- Add Rules
        section#rule_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .md-primary.md-subheader._md.md-altTheme-theme(role='heading', aria-level='2')
            .md-subheader-inner
              .mdl-subheader-content
                span.ng-scope Add Rules
          .page-content


        //- List Mqtt
        section#mqtts.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content 
          
          //- Actions
          .mdl-button--fab_flinger-container
            button#createMqtt.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
              i.material-icons add

  
        //- Add Mqtt
        section#mqtt_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .md-primary.md-subheader._md.md-altTheme-theme(role='heading', aria-level='2')
            .md-subheader-inner
              .mdl-subheader-content
                span.ng-scope Add Mqtt
          .page-content

        //- View Sign In
        section#loginForm.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content
            section.content-grid.mdl-grid
              form.signin
                .mdl-card.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                  .mdl-card__title.mdl-color--primary.mdl-color-text--white(style='background:url(/img/opl_img.jpg) no-repeat 50% 50%; min-height: 176px;')
                    h2.mdl-card__title-text Log in to t6
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield
                      i.material-icons.mdl-textfield__icon lock
                      input.mdl-textfield__input(type='text', name='username', pattern='[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?')
                      label.mdl-textfield__label(for='username') Username
                      span.mdl-textfield__error Username should be your email address
                    .mdl-textfield.mdl-js-textfield
                      i.material-icons.mdl-textfield__icon vpn_key 
                      input.mdl-textfield__input(type='password', name='password', pattern='.{4,}')
                      label.mdl-textfield__label(for='password') Password
                      span.mdl-textfield__error Password must be provided
                  .mdl-card__actions.mdl-card--border
                    a(onclick="app.setSection('signupForm');", href="#")
                      | Create an account
                    button.login_button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                      i.material-icons lock
                      | Log in
              

        //- View Sign Up
        section#signupForm.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content
            section.content-grid.mdl-grid
              form.signup
                .mdl-card.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                  .mdl-card__title.mdl-color--primary.mdl-color-text--white(style='background:url(/img/opl_img2.jpg) no-repeat 50% 50%; min-height: 176px;')
                    h2.mdl-card__title-text Sign-Up to t6
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield
                      i.material-icons.mdl-textfield__icon lock
                      input.mdl-textfield__input(type='text', name='email', pattern='[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?')
                      label.mdl-textfield__label(for='email') Email/Username
                      span.mdl-textfield__error Username should be your email address
                    .mdl-textfield.mdl-js-textfield
                      i.material-icons.mdl-textfield__icon tag_faces 
                      input.mdl-textfield__input(type='text', name='firstName', pattern='.{1,}')
                      label.mdl-textfield__label(for='firstName') First Name
                    .mdl-textfield.mdl-js-textfield
                      i.material-icons.mdl-textfield__icon tag_faces 
                      input.mdl-textfield__input(type='text', name='lastName', pattern='.{1,}')
                      label.mdl-textfield__label(for='lastName') Last Name
                  .mdl-card__actions.mdl-card--border
                    a(onclick="app.setSection('loginForm');", href="#")
                      | Sign-in to my account
                    button.createUser.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                      i.material-icons person_add
                      | Sign-Up
              

        //- View My Profile
        section#profile.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content
              

        //- View Settings
        section#settings.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .md-primary.md-subheader._md.md-altTheme-theme(role='heading', aria-level='2')
            .md-subheader-inner
              .mdl-subheader-content
                span.ng-scope Settings
          .page-content
          
        //- Modal Dialog
        dialog#dialog.mdl-dialog
          h3.mdl-dialog__title
          .mdl-dialog__content
          .mdl-dialog__actions

      .menu__overlay
      .toast__container

      script(type='application/javascript', src='#{baseUrl_https}/js/m/md5.js')
      script(type='application/javascript', src='#{baseUrl_https}/js/m/material.min.js')
      script(type='application/javascript', src='#{baseUrl_https}/js/m/toast.js')
      script(type='application/javascript', src='#{baseUrl_https}/js/m/offline.js')
      script(type='application/javascript', src='#{baseUrl_https}/js/m/menu.js')
      script(type='application/javascript', src='#{baseUrl_https}/js/vendor/jquery.min.js')
      script(type='application/javascript', src='#{baseUrl_https}/js/flot/jquery.flot.js')
      script(type='application/javascript', src='#{baseUrl_https}/js/flot/jquery.flot.time.min.js')
      script(type='application/javascript', src='#{baseUrl_https}/js/m/moment.min-2.18.1.js')
      script(type='application/javascript', src='#{baseUrl_https}/js/OpenLayers/ol-4.1.1.min.js')
      script(type='application/javascript', src='#{baseUrl_https}/js/m/t6app.js')