doctype html
html.ltr(lang='en')
  head
    if process.env.NODE_ENV === 'development'
      title DEV t6 IoT App
    else
      title t6 IoT App

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='t6 IoT App')
    meta(name='msapplication-TileImage', content='#{baseUrlCdn}/img/m/icons/icon-152x152.png')
    meta(name='msapplication-TileColor', content='#795548')
    meta(name='theme-color', content='#795548')
    
    if process.env.NODE_ENV === 'development'
      link(rel='stylesheet', href='#{baseUrlCdn}/css/material-design-lite/1.3.0/material.brown-blue.min.css', type='text/css', data-integrity='', data-crossorigin='anonymous')
      link(rel='stylesheet', href='#{baseUrlCdn}/css/m/inline.css', type='text/css', data-integrity='', data-crossorigin='anonymous')
      link(rel='stylesheet', href='#{baseUrlCdn}/css/OpenLayers/ol-4.1.1.min.css', type='text/css', data-integrity='', data-crossorigin='anonymous')
    else
      link(rel='stylesheet', href='#{baseUrlCdn}/css/t6App.min.css', type='text/css', data-integrity='', data-crossorigin='anonymous')

    link(rel='manifest', href='/manifest.json')
    link(rel='apple-touch-icon', href='#{baseUrlCdn}/img/m/icons/icon-152x152.png')
  body
    //-<!-- Google Tag Manager (noscript) -->
    noscript
      iframe(src="//www.googletagmanager.com/ns.html?id=GTM-PH7923", height="0", width="0", style="display:none;visibility:hidden")
    //-<!-- End Google Tag Manager (noscript) -->

    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-layout__header--waterfall.mdl-layout__header--waterfall-hide-top
        .mdl-layout__header-row
          h1.page_title t6 IoT App
          .mdl-layout-spacer

          nav.mdl-navigation
            button#notification.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
              i.material-icons priority_high
                
          nav.mdl-navigation
            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
              label.mdl-button.mdl-js-button.mdl-button--icon(for='search-exp')
                i.material-icons search
              .mdl-textfield__expandable-holder
                form
                  input#search-exp.mdl-textfield__input(type='text', name='q', placeholder='Search')

            .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
              label.mdl-button.mdl-js-button.mdl-button--icon(for='filter-exp')
                i.material-icons tune
              .mdl-textfield__expandable-holder
                form
                  input#filter-exp.mdl-textfield__input(type='text', name='name', placeholder='Filter by name')

          nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link.statusButton(href='#status')
              i.material-icons favorite
              |  API Status
            a.mdl-navigation__link.docsButton(href='#docs')
              i.material-icons code
              |  API first
            a.mdl-navigation__link.termsButton(href='#terms')
              i.material-icons business_center
              |  Privacy & Terms
            a.mdl-navigation__link(href='//github.com/mathcoll/t6', target='_blank', rel='noopener')
              i.material-icons link
              |  GitHub

          nav.mdl-navigation
            button#menu.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
              i.material-icons more_vert

        .mdl-layout-spacer

        // Tabs
        .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-js-tabs
          a.mdl-navigation__link.mdl-layout__tab(href='#objects', for='objects')
            i.material-icons devices_other
            |  Objects
          a.mdl-navigation__link.mdl-layout__tab(href='#flows', for='flows')
            i.material-icons settings_input_component
            |  Flows
          a.mdl-navigation__link.mdl-layout__tab(href='#dashboards', for='dashboards')
            i.material-icons dashboard
            |  Dashboards
          a.mdl-navigation__link.mdl-layout__tab(href='#snippets', for='snippets')
            i.material-icons widgets
            |  Snippets
          a.mdl-navigation__link.mdl-layout__tab(href='#rules', for='rules')
            i.material-icons call_split
            |  Decision Rules
          a.mdl-navigation__link.mdl-layout__tab(href='#mqtts', for='mqtts')
            i.material-icons volume_down
            |  Mqtt Topics

      #drawer.mdl-layout__drawer
        div.side-nav__header#currentUserBackground(style="height: 148px; position: relative; width: 100%; background: #795548 url(#{baseUrlCdn}/img/m/side-nav-bg.jpg) repeat scroll 0 0 / cover ;")
          img#currentUserHeader(src="", alt="Current user avatar", style="border-radius: 50%; width: 90px; padding: 10px 10px 10px 10px;border: 3px solid #fff;margin: 10px 10px;")
          div#currentUserName.mdl-layout-title(style="bottom:auto !important;") 
          div#currentUserEmail.mdl-layout-subheader(style="color: #ffffff;") 
        nav.mdl-navigation.menu__list
          a.mdl-navigation__link(href='#index')
            i.material-icons home
            |  Index
          a.mdl-navigation__link(href='#objects')
            i.material-icons devices_other
            |  Objects
          a.mdl-navigation__link(href='#flows')
            i.material-icons settings_input_component
            |  Flows
          a.mdl-navigation__link(href='#dashboards')
            i.material-icons dashboard
            |  Dashboards
          a.mdl-navigation__link(href='#snippets')
            i.material-icons widgets
            |  Snippets
          a.mdl-navigation__link(href='#rules')
            i.material-icons call_split
            |  Decision Rules
          a.mdl-navigation__link(href='#mqtts')
            i.material-icons volume_down
            |  Mqtt Topics
          span.mdl-menu__item--full-bleed-divider 
          a.mdl-navigation__link(href='#settings')
            i.material-icons settings
            |  Settings

      .setting_menu
        ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='menu')
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only.statusButton
            a.mdl-navigation__link(href='#status')
              i.material-icons favorite
              |  API Status
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only.docsButton
            a.mdl-navigation__link(href='#docs')
              i.material-icons code
              |  API first
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only.termsButton
            a.mdl-navigation__link(href='#terms')
              i.material-icons business_center
              |  Privacy & Terms
          li.mdl-js-ripple-effect.mdl-menu__item.mdl-layout--small-screen-only
            a.mdl-navigation__link(href='//github.com/mathcoll/t6', target='_blank', rel='noopener')
              i.material-icons launch
              |  GitHub
          li.mdl-js-ripple-effect.mdl-menu__item.settingsButton
            a.mdl-navigation__link(href='#settings')
              i.material-icons settings
              |  Settings
          li.mdl-js-ripple-effect.mdl-menu__item#profile_button
            a.mdl-navigation__link(href='#profile')
              i.material-icons account_box
              |  Profile
          li.mdl-js-ripple-effect.mdl-menu__item#signin_button
            a.mdl-navigation__link(href='#login')
              i.material-icons lock
              |  Sign-In
          li.mdl-js-ripple-effect.mdl-menu__item.hidden#logout_button
            a.mdl-navigation__link(href='#login')
              i.material-icons person_add
              |  Logout

      main.mdl-layout__content
        //- Loading
        section#loading-spinner.hidden
          #spinner.mdl-progress.mdl-js-progress.mdl-progress__indeterminate.loader(style='width:auto;')

        //- List Index
        section#index.mdl-tabs__panel.mdl-layout__tab-panel.is-active(role='heading', aria-level='1')
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content How does t6 works?
          .page-content.mdl-grid.mdl-grid--no-spacing
            span.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active.md-48(style='left:calc(50% - 44px);margin:30px 0px 50px 30px;') 
  
        //- List Objects
        section#objects.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive(role='heading', aria-level='2')
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Objects
          .page-content.mdl-grid.mdl-grid--no-spacing
            span.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active.md-48(style='left:calc(50% - 44px);margin:30px 0px 50px 30px;')

        //- View Object
        section#object.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing
  
        //- Edit Object
        section#object_edit.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing
  
        //- Add Object
        section#object_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Add Object
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- List Flows
        section#flows.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive(role='heading', aria-level='3')
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Flows
          .page-content.mdl-grid.mdl-grid--no-spacing
            span.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active.md-48(style='left:calc(50% - 44px);margin:30px 0px 50px 30px;')

        //- View Flow
        section#flow.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing
  
        //- Edit Flow
        section#flow_edit.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing
  
        //- Add Flow
        section#flow_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Add Flow
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- List Snippets
        section#snippets.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive(role='heading', aria-level='4')
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Snippets
          .page-content.mdl-grid.mdl-grid--no-spacing
            span.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active.md-48(style='left:calc(50% - 44px);margin:30px 0px 50px 30px;')

        //- View Snippet
        section#snippet.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing
  
        //- Edit Snippet
        section#snippet_edit.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing
  
        //- Add Snippet
        section#snippet_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Add Snippet
          .page-content.mdl-grid.mdl-grid--no-spacing
            
        //- List Dashboards
        section#dashboards.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive(role='heading', aria-level='5')
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Dashboards
          .page-content.mdl-grid.mdl-grid--no-spacing
            span.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active.md-48(style='left:calc(50% - 44px);margin:30px 0px 50px 30px;')

        //- View Dashboard
        section#dashboard.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing
  
        //- Edit Dashboard
        section#dashboard_edit.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing
  
        //- Add Dashboard
        section#dashboard_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Add Dashboard
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- List Rules
        section#rules.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive(role='heading', aria-level='6')
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Rules
          .page-content.mdl-grid.mdl-grid--no-spacing
            span.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active.md-48(style='left:calc(50% - 44px);margin:30px 0px 50px 30px;')

        //- View Rules
        section#rule.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- Edit Rules
        section#rule_edit.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing
  
        //- Add Rules
        section#rule_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Add Rules
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- List Mqtt
        section#mqtts.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive(role='heading', aria-level='7')
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Mqtts
          .page-content.mdl-grid.mdl-grid--no-spacing
            span.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active.md-48(style='left:calc(50% - 44px);margin:30px 0px 50px 30px;')

        //- View Mqtts
        section#mqtt.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- Edit Mqtt
        section#mqtt_edit.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing
  
        //- Add Mqtt
        section#mqtt_add.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Add Mqtt
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- View Sign In
        section#login.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Sign In to t6
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- View Sign Up
        section#signup.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Sign Up to t6
          .page-content.mdl-grid.mdl-grid--no-spacing
            section.content-grid.mdl-grid
              div.mdl-layout-spacer
              form.signup
                .mdl-card.mdl-card__title.mdl-shadow--2dp
                  img(src='#{baseUrlCdn}/img/opl_img.jpg', alt='t6 Connect your Objects', aria-hidden='true') 
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      i.material-icons.mdl-textfield__icon email
                      input.mdl-textfield__input(type='text', name='email', id='signup.email', pattern='[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?')
                      label.mdl-textfield__label(for='signup.email') Email/Username
                      span.mdl-textfield__error Username is your email address, so should looks like an email address. :-)
                    .half.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      i.material-icons.mdl-textfield__icon face 
                      input.mdl-textfield__input(type='text', id='signup.firstName', name='firstName', pattern='.{2,}')
                      label.mdl-textfield__label(for='signup.firstName') First Name
                      span.mdl-textfield__error It is optional, but if any, it should be longer than 1 character.
                    .half.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      input.mdl-textfield__input(type='text', id='signup.lastName', name='lastName', pattern='.{2,}')
                      label.mdl-textfield__label(for='signup.lastName') Last Name
                      span.mdl-textfield__error It is optional, but if any, it should be longer than 1 character.
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='signup.terms')
                        input.mdl-checkbox__input(type='checkbox', id='signup.terms', name='terms', pattern='true')
                        span.mdl-checkbox__label I agree the 
                          a(href='/#terms', target='_blank') Terms & Condition 
                          | and I will manage my preferences related to privacy policy in a step forward.
                  .mdl-card__supporting-text.mdl-grid
                    span.mdl-layout-spacer
                    button.createUser.mdl-button.mdl-js-button.mdl-js-ripple-effect
                      i.material-icons person_add
                      | Sign Up
                  .mdl-card__actions.mdl-card--border
                    a.mdl-button--colored(onclick="app.setSection('login');", href="#login")
                      | Sign In
                    | &nbsp;or&nbsp;
                    a.mdl-button--colored(onclick="app.setSection('forgot-password');", href="#forgot-password")
                      | reset my password
                    | .
              div.mdl-layout-spacer

        //- View My Profile
        section#profile.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content My Profile
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- Manage Notifications
        section#manage_notifications.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Manage Notifications
          .page-content.mdl-grid.mdl-grid--no-spacing
            section.content-grid.mdl-grid
              div.mdl-layout-spacer
              form.notifications
                .mdl-card.mdl-card__title.mdl-shadow--2dp
                  img(src='#{baseUrlCdn}/img/opl_img.jpg', alt='t6 Connect your Objects', aria-hidden='true') 
                  .mdl-card__title Manage your Email notification & subscriptions.
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='notifications.reminder')
                        input.mdl-checkbox__input(checked, type='checkbox', id='notifications.reminder', name='reminder')
                        span.mdl-checkbox__label(style='position: absolute;') Reminder email.
                          | This notification will be sent only once, the week after your subscription.
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='notifications.changePassword')
                        input.mdl-checkbox__input(checked, type='checkbox', id='notifications.changePassword', name='changePassword')
                        span.mdl-checkbox__label(style='position: absolute;') Notification to remind you to change your password regularly.
                  .mdl-card__actions.mdl-card--border
                    a.mdl-button--colored(onclick="app.setSection('login');", href="#login")
                      | Skip this step
                    | (I will do it later).
              div.mdl-layout-spacer
          
        section#forgot-password.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Forgot Password
          .page-content.mdl-grid.mdl-grid--no-spacing
            section.content-grid.mdl-grid
              div.mdl-layout-spacer
              form.forgotpassword
                .mdl-card.mdl-card__title.mdl-shadow--2dp
                  img(src='#{baseUrlCdn}/img/opl_img.jpg', alt='t6 Connect your Objects', aria-hidden='true') 
                  .mdl-card__title Enter your Email address below and we'll send you password reset instructions securely.
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      i.material-icons.mdl-textfield__icon email
                      input.mdl-textfield__input(type='text', name='email', id='forgotpassword.email', pattern='[a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?')
                      label.mdl-textfield__label(for='forgotpassword.email') Email/Username
                      span.mdl-textfield__error Username should be your email address
                  .mdl-card__supporting-text.mdl-grid
                    span.mdl-layout-spacer
                    button.forgotPassword.mdl-button.mdl-js-button.mdl-js-ripple-effect
                      i.material-icons book
                      | Get instructions
                  .mdl-card__actions.mdl-card--border
                    a.mdl-button--colored(onclick="app.setSection('signup');", href="#signup")
                      | Create an account
                    | &nbsp;or&nbsp;
                    a.mdl-button--colored(onclick="app.setSection('login');", href="#login")
                      | Sign In
                    | .
              div.mdl-layout-spacer
          
        section#reset-password.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Set Password
          .page-content.mdl-grid.mdl-grid--no-spacing
            section.content-grid.mdl-grid
              div.mdl-layout-spacer
              form.resetpassword
                .mdl-card.mdl-card__title.mdl-shadow--2dp
                  img(src='#{baseUrlCdn}/img/opl_img.jpg', alt='t6 Connect your Objects', aria-hidden='true') 
                  .mdl-card__title Set you new password to connect your t6 account.
                  .mdl-card__title Password must contains lower cases, upper cases, digits, special characters; and must be longer than 8 characters.
                  .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      i.material-icons.mdl-textfield__icon lock
                      input.mdl-textfield__input.passmatch#p1(type='password', name='password', pattern='^(?=.{8,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[!@#$&*]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$')
                      label.mdl-textfield__label(for='p1') Password
                      span.mdl-textfield__error Password is not strong enough
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                      i.material-icons.mdl-textfield__icon lock
                      input.mdl-textfield__input.passmatch#p2(type='password', name='password2')
                      label.mdl-textfield__label(for='p2') Password Verification
                      span.mdl-textfield__error Password does not match
                  .mdl-card__supporting-text.mdl-grid
                    span.mdl-layout-spacer
                    button.setPassword.mdl-button.mdl-js-button.mdl-js-ripple-effect
                      i.material-icons lock_open
                      | Reset my password
                  .mdl-card__actions.mdl-card--border
                    | &nbsp;or&nbsp;
                    a.mdl-button--colored(onclick="app.setSection('login');", href="#login")
                      | Sign In
                    | .
              div.mdl-layout-spacer

        //- View Settings
        section#settings.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Settings
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- View Status
        section#status.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content t6 API
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- View Terms
        section#terms.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Terms of Service and License Agreement
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- Docs
        section#docs.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .mdl-grid.mdl-cell--12-col
            h2.mdl-card__title-text.mdl-subheader-content Api first documentation: Live, eat, and breathe the API-first lifestyle of t6.

          .page-content.mdl-grid.mdl-grid--no-spacing
            section.mdl-grid.mdl-cell--12-col
              div.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                div.mdl-grid
                  h3.mdl-typography--headline Physical World
                div.mdl-card__supporting-text.no-padding Physical World are composed by your sensors and actuators. Physical Objects require a virtual Object in t6 and then, they could add Data to Flows. Sample nodeMCU and Arduino scripts are available in the sensors repositories.
                div.mdl-card__supporting-text.no-padding Physical Objects require a virtual Object in t6 and then, they could add Data to Flows.
                
            section.mdl-grid.mdl-cell--12-col
              div.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                div.mdl-grid
                  h3.mdl-typography--headline Resources available on t6
                div.mdl-card__supporting-text.no-padding 
                  ol.mdl-list(style="padding:0px;line-height:24px;")
                    li.mdl-list__item-primary-content
                      div.mdl-grid
                        div.mdl-layout-spacer
                        div.mdl-cell--12-col
                          i.material-icons.md-48 devices_other
                        div.mdl-layout-spacer
                      strong Objects, sensors and actuators: 
                      | Objects are virtual items dedicated to push data to flows. Objects are defined for each Users.
                      | Objects in t6 are the virtual nodes of your physical devices. They are sending values from their embedded sensors to the Flows. Common cardinality is 1:1; but you can setup multiple Flows for the same Object (a DHT11 sensor handle 'temperature' and 'humidity' for instance). Additionally, you can set a Flow to be feed from multiple Objects.
                    li.mdl-list__item-primary-content
                      div.mdl-grid
                        div.mdl-layout-spacer
                        div.mdl-cell--12-col
                          i.material-icons.md-48 settings_input_component
                        div.mdl-layout-spacer
                      strong Flows & DataPoints: 
                      | Flows are datastore to save time/values (DataPoints). Each Object can POST data to multiple Flows. Flows are defined for each Users and are having permissions.
                      | Communication becomes easy in the platform with Timestamped values. Flows allows to retrieve and classify data.
                      | Objects are sending their Data to Flow-containers using the API.
                    li.mdl-list__item-primary-content
                      div.mdl-grid
                        div.mdl-layout-spacer
                        div.mdl-cell--12-col
                          i.material-icons.md-48 dashboard
                        div.mdl-layout-spacer
                      strong Dashboards to graph, draw, and monitor: 
                      | Dashboard includes one or many Snippets to visualize your data. You can create as many dashboards as you like.
                    li.mdl-list__item-primary-content
                      div.mdl-grid
                        div.mdl-layout-spacer
                        div.mdl-cell--12-col
                          i.material-icons.md-48 widgets
                        div.mdl-layout-spacer
                      strong Snippets
                      | 
                    li.mdl-list__item-primary-content
                      div.mdl-grid
                        div.mdl-layout-spacer
                        div.mdl-cell--12-col
                          i.material-icons.md-48 call_split
                        div.mdl-layout-spacer
                      strong Rules, to Alert and Notify 
                      | 
                    li.mdl-list__item-primary-content
                      div.mdl-grid
                        div.mdl-layout-spacer
                        div.mdl-cell--12-col
                          i.material-icons.md-48 volume_down
                        div.mdl-layout-spacer
                      strong Mqtt, to communicate 
                      | 
                  
            section.mdl-grid.mdl-cell--12-col
              div.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                div.mdl-grid
                  h3.mdl-typography--headline General Structure and scenario
                div.mdl-card__supporting-text.no-padding 
                  img.lazyloading.img-responsive(data-src="//raw.githubusercontent.com/mathcoll/t6/master/docs/t6-General-structure.png", alt="t6 General structure")
                  
            section.mdl-grid.mdl-cell--12-col
              div.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
                div.mdl-grid
                  h3.mdl-typography--headline Technical documentation
                div.mdl-card__supporting-text.no-padding 
                  | Api first in a Rest api ; including security (JWT tokens) and quotas.
                  a.mdl-button.mdl-js-button(href="/docs", target='_blank', rel='noopener') Explore the full Api documentation
                    i.material-icons chevron_right
            
        //- View users-list
        section#users-list.mdl-tabs__panel.mdl-layout__tab-panel.is-inactive
          .page-content.mdl-grid.mdl-grid--no-spacing

        //- Modal Dialog
        dialog#dialog.mdl-dialog
          h3.mdl-dialog__title -
          .mdl-dialog__content -
          .mdl-dialog__actions.mdl-card__actions.mdl-card--border -

      .menu__overlay
      .toast__container
      
      #cookieconsent.mdl-card__actions.mdl-card--border.hidden
        #cookieconsent_wrapper
          h4#cookieconsent_header This website uses cookies
          span This website uses cookies to improve user experience. By using our website you consent to all cookies in accordance with our Cookie Policy. 
          span#cookieconsent_readmore
            a(href='/#terms', id='cookieconsent.read') Read more
            | .
          br
          #cookieconsent_buttons
            #cookieconsent_noGTM.mdl-button
              a(href='#', id='cookieconsent.noGTM') Deny Marketing cookies 
            #cookieconsent_accept.mdl-button
              a(href='#', id='cookieconsent.agree') Got it!
        
      script(type='application/javascript', src='#{baseUrlCdn}/js/m/vendor.min.js')
      script(type='application/javascript', src='#{baseUrlCdn}/js/m/t6app.js')