doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade

    .-o-container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-cube &nbsp;Object&nbsp;
            strong #{object.name}

    .-o-container-fluid
      .row.side-body
        .col-sm-12
          h3 Update an Object to your shelves
          form(action="/objects/#{object.id}/edit", method="post")
            .form-group
              label.control-label(for="name") Object Name:
                span.mandatory *
              input.form-control(type="text", name="name", placeholder="Object Name", id="name", value="#{object.name}")

            .form-group
              label.control-label(for="Type") Type:
                span.mandatory *
              select.form-control(type="text", name="type", id="type")
                - for(type in types) {
                    if ( types[type] == object.type )
                      option(value='#{types[type]}', selected) #{types[type]}
                    else
                      option(value='#{types[type]}') #{types[type]}
                - }
            .form-group
              label.control-label(for="Description") Description:
              textarea.form-control.vresize(name="description", placeholder="Object description", id="Description") #{object.description}

            .form-group
              label.control-label is Public:
              br/
              input(type='radio', name='isPublic', value='true', id='isPublic', checked=(object.isPublic=='true' ? "checked" : undefined))
              label.control-label(for="isPublic") &nbsp;Yes
              | &nbsp;&nbsp;
              input(type='radio', name='isPublic', value='false', id='isNotPublic', checked=(object.isPublic=='false' ? "checked" : undefined))
              label.control-label(for="isNotPublic") &nbsp;No

            hr/
            .form-group
              label.control-label(for="position") Position/Location:
              span.input-group
                span.input-group-addon
                  span.fa.fa-map-marker
                input.form-control(type="text", name="position", placeholder="Object position (living, dressing, etc)", id="position", value=(object.position!==undefined ? object.position : undefined))

            .form-group
              label.control-label(for="Longitude") Longitude:
              span.input-group
                span.input-group-addon
                  span.fa.fa-map
                input.form-control(type='text', name="longitude", placeholder="Longitude", id="Longitude", value=(object.longitude!==undefined ? object.longitude : undefined))

            .form-group
              label.control-label(for="Latitude") Latitude:
              span.input-group
                span.input-group-addon
                  span.fa.fa-map
                input.form-control(type='text', name="latitude", placeholder="Latitude", id="Latitude", value=(object.latitude!==undefined ? object.latitude : undefined))

            hr/
            .form-group
              label.control-label(for="ipv4") Ip v4:
              span.input-group
                span.input-group-addon
                  span IP
                input.form-control(type="text", name="ipv4", placeholder="Ip v4: 192.168.0.1", id="ipv4", value=(object.ipv4!==undefined ? object.ipv4 : undefined))

            .form-group
              label.control-label(for="ipv6") Ip v6:
              span.input-group
                span.input-group-addon
                  span IP
                input.form-control(type="text", name="ipv6", placeholder="Ip v6", id="ipv6", value=(object.ipv6!==undefined ? object.ipv6 : undefined))

            .form-group
              a.btn.btn-default.btn-sm(href="/objects/#{object.id}")
                span.fa.fa-cube Back to Object
              button.btn.btn-primary.m-t.pull-right(type="submit", value="Update Object")
                span.fa.fa-pencil-square-o  Update Object
              | &nbsp;

          p &nbsp; 

    include ../includes/foot.jade