doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade
    
    .container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-random &nbsp;Flows on shelves
          if (message && message.type && message.value)
            div.alert(class='alert-#{message.type}', role='alert') #{message.value}
        blockquote.fa.fa-comment  Flows contains data collections. Flows are datastore to save time/value. Each Object can POST data to multiple Flows. Flows are defined for each Users and are having permissions.

      .row.side-body
        .col-xs-12.col-sm-12.col-md-12
          ul.clearfix.pagination
            li.active
              span.fa.fa-3x.fa-random(style='border-bottom-left-radius:0;border-bottom-right-radius:0;')  #{flows_length} Flows        
                - var percent = Math.round((flows_length*100/quota.flows)*100) /100
                - var style = "success"
                - if (percent > 60)
                  - style = "warning"
                - end
                - if (percent > 85)
                  - style = "danger"
                - end
                - if (percent < 1)
                  - percent = 1
                  - percent_txt = '<1'
                - else
                  - percent_txt = percent
                - end
            li
              - if( flows_length < quota.flows )
                a.fa-3x.btn.btn-success(href="/flows/add", data-toggle='tooltip', data-placement='right	', title='Add a Flow')
                  span.fa.fa-plus
              - else
                a.fa-3x.btn.btn-danger(href="/plans", data-toggle='tooltip', data-placement='right', title='Upgrade your plan')
                  span.fa.fa-level-up
              - end
            p.progress-bar.progress-bar-striped.active(data-toggle='tooltip', data-placement='top', title='#{percent_txt}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{flows_length}", aria-valuemin="0", aria-valuemax="#{quota.flows}", style="width: #{percent}%; height: 5px;") &nbsp;

      .row.side-body
        .col-sm-12
          if (flows.length)
            include ../includes/pagination.jade
            include ./item_header.jade
            .list-group
              - for(flow in flows) {
                include ./item_list.jade
              - }
            include ../includes/pagination.jade
          else
            p &nbsp;
            div.alert.alert-warning You don't have any Flow yet in your shelves. You can <a href="/flows/add">add a Flow</a>.

    include ../includes/foot.jade