a.clearfix.list-group-item(name='#{flows[flow].id}', href='/flows/#{flows[flow].id}')
  div.col-sm-6
    h4.list-group-item-heading(style="margin:0; padding:0;")
      span.fa.fa-random
      | &nbsp;#{flows[flow].name}&nbsp;

  div.col-sm-2
    -if (flows[flow].unit)
      span.label.label-primary(data-toggle='tooltip', data-placement='top', title='Flow Unit') #{flows[flow].unit}
    -else
      span 
    -end

  div.col-sm-2
    -if (flows[flow].permission)
      span.label.label-danger(data-toggle='tooltip', data-placement='top', title='Flow Permissions') #{flows[flow].permission}
    -else
      span 
    -end

  div.col-sm-2
    span.fa.fa-clock-o  #{moment(flows[flow].meta.created).format('DD/MM/YYYY, HH:mm')}

  div.col-sm-2
    span.label.label-default.ellipsis(data-toggle='tooltip', data-placement='top', title='Flow ID') #{flows[flow].id}

  div.col-sm-8  

  div.col-sm-2
    span.fa.fa-clock-o  #{moment(flows[flow].meta.updated).format('DD/MM/YYYY, HH:mm')}

  div.col-sm-6.ellipsis
    span.label.label-warning #{flows[flow].mqtt_topic}

  div.col-sm-2
    span.fa.fa-cube  #{flows[flow].objects.length} Objects

  div.col-sm-2
    span

  div.col-sm-2
    div.fa.fa-chevron-right.pull-right 
    div #{flows[flow].description}