doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade

    .container-fluid
      .row.side-body
        .col-sm-12.hidden-xs
          h2.fa.fa-2x.fa-puzzle-piece &nbsp;Edit API Key #{token.token}

    .container-fluid
      .row.side-body

        -if (message && message.type == 'danger' && message.value)
        .col-sm-12(class='alert alert-#{message.type}')#edit
          div.sidebar-module-inset
            if (message && message.type && message.value)
              div.alert(class='alert-#{message.type}', role='alert') #{message.value}

            form(method="post", action="/keys/#{token.token}/edit")
              .form-group
                label.control-label(for="flows") Permission on Flows:
                span.input-group
                  span.input-group-addon
                    span.fa.fa-random
                  select.form-control(multiple, name="flows[]", id="flows")
                    - for(f in flows) {
                      -if(token.permissionsObjects)
                        option(value="#{flows[f].id}", selected=((token.permissions.map(function (e) {return e.flow_id;})).indexOf(flows[f].id) > -1 ? "selected" : undefined)) #{flows[f].name} (#{flows[f].id})
                      -else
                        option(value="#{flows[f].id}") #{flows[f].name} (#{flows[f].id})
                      -end
                    - }

              .form-group
                label.control-label(for="objects") Permission on Objects:
                span.input-group
                  span.input-group-addon
                    span.fa.fa-random
                  select.form-control(multiple, name="objects[]", id="objects")
                    - for(o in objects) {
                      -if(token.permissionsObjects)
                        option(value="#{objects[o].id}", selected=((token.permissionsObjects.map(function (e) {return e.object_id;})).indexOf(objects[o].id) > -1 ? "selected" : undefined)) #{objects[o].name} (#{objects[o].id})
                      -else
                        option(value="#{objects[o].id}") #{objects[o].name} (#{objects[o].id})
                      -end
                    - }

              .form-group
                label.fa.fa-user  Owner permission:&nbsp;/!\ Carreful&nbsp;
                  br/ 
                  span
                    label.control-label(for="OpermissionW") Write 
                      input#OpermissionW(name='owner_permission', type='radio', value='6', checked='checked') 
                    | &nbsp;&nbsp;
                    label.control-label(for="OpermissionR") Read 
                      input#OpermissionR(name='owner_permission', type='radio', value='4', disabled) 
                    
              .form-group
                label.fa.fa-user  Group permission:&nbsp;/!\ Carreful&nbsp;
                  br/ 
                  span
                    label.control-label(for="GpermissionW") Write 
                      input#GpermissionW(name='group_permission', type='radio', value='6') 
                    | &nbsp;&nbsp;
                    label.control-label(for="GpermissionR") Read 
                      input#GpermissionR(name='group_permission', type='radio', value='4') 
                    | &nbsp;&nbsp;
                    label.control-label(for="GpermissionN") None 
                      input#GpermissionN(name='group_permission', type='radio', value='0', checked='checked') 
                    
              .form-group
                label.fa.fa-user  Other permission:&nbsp;/!\ Carreful&nbsp;
                  br/ 
                  span
                    label.control-label(for="ApermissionW") Write 
                      input#ApermissionW(name='other_permission', type='radio', value='6', disabled) 
                    | &nbsp;&nbsp;
                    label.control-label(for="ApermissionR") Read 
                      input#ApermissionR(name='other_permission', type='radio', value='4', disabled) 
                    | &nbsp;&nbsp;
                    label.control-label(for="ApermissionN") None 
                      input#ApermissionN(name='other_permission', type='radio', value='0', checked='checked') 

              .form-group
                label.control-label(for="expiration") Expiration:
                span.input-group
                  span.input-group-addon
                    span.fa.fa-clock-o
                  select.form-control(name="expiration", id="expiration")
                    option(value="keep", selected) Keep #{moment( parseInt(token.expiration) ).format('DD/MM/YYYY, HH:mm')}
                    option(value="1 hours") 1 hour
                    option(value="7 days") 7 days
                    option(value="1 months") 1 month

              .form-group
                button.btn.btn-primary.m-t.pull-right(type='submit')
                  span.fa.fa-edit  Update
              
            p &nbsp;

    include ../includes/foot.jade