-if(tokens[token].key)
  //-
    a.clearfix.list-group-item
      div.col-sm-2
        h4.list-group-item-heading(style="margin:0; padding:0;")
          span.fa.fa-flash  
          |  Key/Secret 
      
      div.col-sm-4
        div(style="margin:0; padding:0;")
          -if(tokens[token].key)
            span.label.label-primary.ellipsis #{tokens[token].key}
            |  
          -if(tokens[token].secret)
            span.label.label-primary.ellipsis #{tokens[token].secret}
            |  
      
      div.col-sm-2
        span 

      div.col-sm-2
        span #{moment(tokens[token].meta.updated).format('DD/MM/YYYY, HH:mm')}
        
      
      div.col-sm-2
        -if(tokens[token].expiration)
          span #{moment( parseInt(tokens[token].expiration) ).format('DD/MM/YYYY, HH:mm')}
        -else
          span &nbsp;-&nbsp;
        -end
      
      -if(tokens[token].permissions)
        div.col-sm-10
          - for(p in tokens[token].permissions) {
            span(title='Permission: #{(tokens[token].permissions)[p].permission}') #{(tokens[token].permissions)[p].flow_id}
            | , 
          - }
      -end
      div.col-sm-2  

-else
  .clearfix.list-group-item(name="/keys/#{tokens[token].token}")
    div.col-sm-1
      h4.list-group-item-heading(style="margin:0; padding:0;")
        span.fa.fa-flash  
        |  Bearer
    
    div.col-sm-3
      div(style="margin:0; padding:0;")
        span.label.label-primary.ellipsis #{tokens[token].token}
        |  
    
    div.col-sm-2
      span 

    div.col-sm-2
      span.fa.fa-clock-o  #{moment(tokens[token].meta.created).format('DD/MM/YYYY, HH:mm')}
    
    div.col-sm-2
      -if(tokens[token].expiration)
        span.fa.fa-clock-o  #{moment( parseInt(tokens[token].expiration) ).format('DD/MM/YYYY, HH:mm')}
      -else
        span &nbsp;-&nbsp;
      -end

    div.col-sm-1.btn-group-vertical.pull-right(role="group")
      a.btn.btn-primary.btn-sm(href='/keys/#{tokens[token].token}/edit')
        span.fa.fa-pencil-square-o  Edit
      a.btn.btn-warning.btn-sm(href='/keys/#{tokens[token].token}/extend')
        span.fa.fa-expand  Extend
      a.btn.btn-danger.btn-sm.sweet-5#remove(href='#', data-id='#{tokens[token].token}' onclick="return false;")
        span.fa.fa-trash-o  Revoke

    
    -if(tokens[token].permissions.length)
      div.col-sm-10.fa.fa-random  #{(tokens[token].permissions).length} Flows
    -end
-end 