doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade
    
    .-o-container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-flash &nbsp;API Keys
          if (message && message.type && message.value)
            div.alert(class='alert-#{message.type}', role='alert') #{message.value}
        blockquote.fa.fa-comment  Expired keys will automatically be removed from your list.
 
      .row.side-body
        .col-xs-12.col-sm-12.col-md-12
          ul.clearfix.pagination
            li.active
              span.fa.fa-3x.fa-flash(style='border-bottom-left-radius:0;border-bottom-right-radius:0;')  #{tokens_length} Keys        
                - var percent = Math.round((tokens_length*100/quota.tokens)*100) /100
                - var style = "success"
                - if (percent > 60)
                  - style = "warning"
                - end
                - if (percent > 85)
                  - style = "danger"
                - end
                - if (percent < 1)
                  - percent = 1
                  - percent_txt = '<1'
                - else
                  - percent_txt = percent
                - end
              p.progress-bar.progress-bar-striped.active(data-toggle='tooltip' data-placement='top' title='#{percent_txt}%', class="progress-bar-#{style}", role="progressbar", aria-valuenow="#{tokens_length}", aria-valuemin="0", aria-valuemax="#{quota.tokens}", style="width: #{percent}%; height: 5px;") &nbsp;
       
      .row.side-body
        .col-sm-12
          if (tokens.length)
            include ../includes/pagination.jade
            include ./item_header.jade
            .list-group
              - for(token in tokens) {
                include ./item_list.jade
              - }
            include ../includes/pagination.jade
          else
            p &nbsp;
            div.alert.alert-warning You don't have any Key yet in your shelves. You can <a href="/keys/add">add a Key</a>.

    include ../includes/foot.jade
  link(href='/css/sweetalert/sweetalert.css', rel='stylesheet')
  script(src='/js/sweetalert/sweetalert.js')
  script.
    $('.sweet-5').on('click', function (e) {
      var token = $(this).data("token");
      swal({
        title: "Are you sure?",
        text: "Are you sure to remove "+token+" ?",
        type: "error",
        showCancelButton: true,
        confirmButtonClass: "btn-danger",
        confirmButtonText: "Yes, revoke it!",
        cancelButtonText: "No, cancel",
        closeOnConfirm: false,
        closeOnCancel: true
      },
      function(isConfirm) {
        if (isConfirm) {
          document.location.href='/keys/'+token+'/remove';
        } else {
          //
        }
      });
    });